<div style="float: right;align:right">
    <span class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Select another list
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <% @summaries.each do |summary| %>
                <li><a href="<%= dashboard_show_url(summary.id) %>"><%= summary.list_full_name %></a></li>
            <% end %>
        </ul>
    </span>

    <a href="<%= @presenter.shib_url(dashboard_new_url) %>"
        type="button"
        title="Create a new definition"
        class="btn btn-default">
        <span class="glyphicon glyphicon-file"></span> New
    </a>

    <span>&nbsp;&nbsp;</span>

    <a href="<%= @presenter.shib_url(@presenter.download_url) %>"
        type="button"
        title="Download data in tab-separated format (TSV)"
        class="btn btn-default">
        <span class="glyphicon glyphicon-download-alt"></span>
    </a>

    <a href="<%= @presenter.shib_url(dashboard_edit_url(id: @presenter.summary.id)) %>"
        type="button"
        title="Edit the definition for this collection"
        class="btn btn-default">
        <span class="glyphicon glyphicon-edit"></span> Edit
    </a>
</div>
