<style>
  .callnumber {
    white-space: nowrap;
  }
</style>

<div class="row">
  <a href="<%= dashboard_index_url() %>">Collection EcoSystem Dashboard</a> -
  <a href="<%= dashboard_show_url(id: @presenter.summary.id) %>"><%= @presenter.summary.list_name %></a>
  <h2>Details for: <%= @presenter.summary.list_name %> <%= render "toolbar_show" %></h2>
</div> <!-- row -->

<div class="row">
  <h3><%= @presenter.name %></h3>
  <% if @presenter.from != nil && @presenter.to != nil %>
    <p>Call numbers from <b><%= @presenter.from %></b> to <b><%= @presenter.to %></b></p>
  <% end %>
  <p>Items: <%= number_with_delimiter(@presenter.count) %>
  <% if @presenter.is_partial_list? %>
    <i>. Showing first <%= number_with_delimiter(@presenter.rows.count) %> items,
    <a href="<%= @presenter.show_all_url %>">view all</a>.</i>
  <% end %>
  </p>
</div> <!-- row -->

<div class="row">
  <div class="col-sm-12">
    <%= render "rows" %>
  </div>
</div> <!-- row -->

