Collection EcoSystem Dashboard - <%= @presenter.summary.list_name %>
<form class="" role="edit" method="POST" action="<%= dashboard_save_url(id: @presenter.summary.id) %>">
    <h2>Edit Collection Definition <%= render "toolbar_edit" %></h2>

    <div class="container">
        <div class="form-group">
            <label class="" id="name_label">Name</label>
            <input type="text" class="form-control" placeholder="Name" aria-describedby="name_label"
                id="name" name="name" value="<%= @presenter.summary.list_name %>">

            <!-- <label class="" id="public_label">Public list?</label>
            <label class="radio-inline"><input type="radio" id="public1" name="public" value="yes" checked>Yes</label>
            <label class="radio-inline"><input type="radio" id="public2" name="public" value="no">No</label>
            <label class="radio-inline"><input type="radio" id="public1" name="public" value="yes">Yes</label>
            <label class="radio-inline"><input type="radio" id="public2" name="public" value="no" checked>No</label>
            <br/> -->

            <label class="" id="desc_label">Description</label>
            <textarea class="form-control" rows="8" placeholder="Description" aria-describedby="desc_label"
                id="description" name="description" ><%= @presenter.summary.description %></textarea>

            <div id="cn_ranges">
                <label>Call number ranges:</label>
                <% @presenter.summary.ranges.each do |range| %>
                    <div class="form-inline">
                        <input type="text" class="form-control" placeholder="Name or description"
                            id="cn_range_<%= range.id %>_name" name="cn_range_<%= range.id %>_name" value="<%= range.name %>">
                        <input type="text" class="form-control" placeholder="From call number"
                            id="cn_range_<%= range.id %>_from" name="cn_range_<%= range.id %>_from" value="<%= range.from %>">
                        <input type="text" class="form-control" placeholder="To call number"
                            id="cn_range_<%= range.id %>_to" name="cn_range_<%= range.id %>_to" value="<%= range.to %>">
                    </div>
                <% end %>
            </div>
            <a href="#" id="add_range" type="button" title="Add another call number range"
                class="btn btn-default">+</a>
            <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>
        </div>

        <button style="float: right;" type="reset" id="delete_record" class="btn btn-danger"
            title="Delete this definition and all its data">Delete</button>
    </div>
</form>

<!-- source https://sharecodex.com/how-to-create-confirm-dialog-yes-no-with-bootsrap-modal/ -->
<div class="modal" id="confirmModal" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true" data-backdrop="false">
 <div class="vertical-alignment-helper">
   <div class="modal-dialog modal-sm vertical-align-center">
     <div class="modal-content">
       <div class="modal-body">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="btn_close_modal_info"><span aria-hidden="true">&times;</span></button>
         <div id="confirmContent" style="font-weight: normal;"></div>
       </div>
       <div class="modal-footer bg-warning text-center" id="footer_modal">
         <button type="button" class="btn btn-primary btn_yes_confirm">Yes</button>
         <button type="button" class="btn btn-primary btn_no_confirm" data-dismiss="modal" aria-label="Close">No</button>
       </div>
      </div>
    </div>
 </div>
</div>

<script>

// https://sharecodex.com/how-to-create-confirm-dialog-yes-no-with-bootsrap-modal/
function confirmYesNo(options) {
    $('#confirmContent').css('text-align', 'left');
    $('#confirmContent').html('<p>' + options.message + '</p>');
    var btnYes = $('#confirmModal').children().find('.btn_yes_confirm');
    var btnNo =  $('#confirmModal').children().find('.btn_no_confirm');
    btnYes.click(function() {
      $('#confirmModal').modal('hide');
      options.executeYes();
    });
    btnNo.click(function() {
      $('#confirmModal').modal('hide');
      options.executeNo();
    });
    $('#confirmModal').modal('show');
}

$(document).ready(function(){
    var nextId = 0;

    $("#delete_record").on("click", function(e) {
        e.preventDefault();
        var options = {
            message: "Are you sure you want to delete this definition and all its data?",
            executeYes: function() {
                var deleteUrl = "<%= dashboard_delete_url(id: @presenter.summary.id) %>";
                var req = req = $.ajax({url: deleteUrl, method: "POST"});
                req.success(function() {
                    debugger;
                    window.location.href = "<%= dashboard_index_url() %>";
                });
                req.error(function() {
                    alert("Could not delete this definition");
                });
            },
            executeNo: function() {
                // do nothing
            }
        };
        confirmYesNo(options);
    });

    $("#cancel_edit").on("click", function(e) {
        e.preventDefault();
        var options = {
            message: "Cancel your changes?",
            executeYes: function() {
                window.location.href = "<%= dashboard_show_url(id: @presenter.summary.id) %>";
            },
            executeNo: function() {
                // do nothing
            }
        };
        confirmYesNo(options);
    });

    $("#add_range").on("click", function(e) {
        var html;
        html = '<div class="form-inline">';
        html += '<input type="text" class="form-control" id="cn_new_nextid_name" name="cn_new_nextid_name" placeholder="Name or description" >';
        html += '<input type="text" class="form-control" id="cn_new_nextid_from" name="cn_new_nextid_from" placeholder="From call number" >';
        html += '<input type="text" class="form-control" id="cn_new_nextid_to" name="cn_new_nextid_to" placeholder="To call number" >';
        html += '</div>';

        nextId += 1;
        html = html.replace(/nextid/g, nextId.toString());
        $("#cn_ranges").append(html);
    });

    // Add an empty one by default
    $("#add_range").click();
});
</script>