<style>
    table {
        border-collapse: collapse;
        border: 1px solid #ecf0ea;
    }

    table th {
        border: 1px solid #ecf0ea;
        padding-left: 10px;
        padding-right: 10px;
    }

    table td {
        border: 1px solid #ecf0ea;
        padding-left: 10px;
        padding-right: 10px;
    }

    h3 {
        font-size: 20px;
    }
</style>

<div class="row">
    <h2>Collection Ecosystem Dashboard
        <div style="float: right;align:right">
            <a href="<%= @new_dashboard_url %>"
                type="button"
                title="Create a new definition"
                class="btn btn-default">
                <span class="glyphicon glyphicon-file"></span> New
            </a>
        </div>
    </h2>

    <div class="col-sm-12">
        <table>
            <tr>
                <th>Type</th>
                <th>Owner</th>
                <th>Name</th>
                <th>Status</th>
            </tr>
            <% @summaries.each do |summary| %>
                <tr>
                    <td><%= summary.public == 1 ? "Public" : "Private" %></td>
                    <td><%= summary.owner_display %></td>
                    <td><a href="<%= dashboard_show_url(summary.id) %>"><%= summary.list_full_name %></a></td>
                    <td>
                        <span title="<%= summary.status_tooltip %>" class="<%= summary.status_icon %>"></span>
                    </td>
                </tr>
            <% end %>
        </table>
    </div>
</div>


<div class="row">
    <% if @editors.count > 0 %>
        <h3>Users with edit access</h3>
        <p>Public collections can be viewed by any patron,
        but only the following users can edit them.</p>

        <!-- <p>Private collections are only visible and editable by their owner.</p> -->

        <div class="col-sm-12">
            <table>
                <tr>
                    <th>User</th>
                </tr>
                <% @editors.each do |user| %>
                    <tr>
                        <td><%= user %></td>
                    </tr>
                <% end %>
            </table>
        </div>
    <% end %>
</div>
