<style>
    table {
        border-collapse: collapse;
        border: 1px solid #ecf0ea;
    }

    table th {
        border: 1px solid #ecf0ea;
        padding-left: 10px;
        padding-right: 10px;
    }

    table td {
        border: 1px solid #ecf0ea;
        padding-left: 10px;
        padding-right: 10px;
    }

    h3 {
        font-size: 20px;
    }

    .number_cell_fixed {
        text-align: right;
        vertical-align: bottom;
        width: 100px;
    }
</style>

<div class="row">
    <h2>Collection Ecosystem Dashboard
        <div style="float: right;align:right">
            <a href="<%= @new_dashboard_url %>"
                type="button"
                title="Create a new definition"
                class="btn btn-default">
                <span class="glyphicon glyphicon-file"></span> New
            </a>
        </div>
    </h2>

    <div class="col-sm-12">
        <div id="filters">
            <span>
                Owner:
                <select name="filterUser" id="filterUser">
                    <% @owners.each do |owner| %>
                        <option value="<%= owner[:id] %>"><%= owner[:text] %></option>
                    <% end %>
                </select>
            </span>
            <span>
                Tag:
                <select name="filterTag" id="filterTag">
                    <option value="_all_">&nbsp;</option>
                    <% EcoTags.names_sorted.each do |tag| %>
                        <option value="<%= tag %>"><%= tag %></option>
                    <% end %>
                </select>
            </span>

            <span>
                Name: <input type="text" name="filterName" id="filterName" placeholder="search by name"></input>
            </span>
        </div>

        <table id="collectionsTable">
            <tr>
                <th>Type</th>
                <th>Owner</th>
                <th>Tags</th>
                <th>Name</th>
                <th>Status</th>
                <th class="number_cell_fixed">Bib Records</th>
                <th>Updated</th>
            </tr>
            <% @summaries.each do |summary| %>
                <tr class="data-row row-owner-<%= summary.owner_id %>">
                    <td><%= summary.public == 1 ? "Public" : "Private" %></td>
                    <td data-sort-by-text="<%= summary.owner_display %>"><%= summary.owner_display %></td>
                    <td><%= summary.tags_list.join(", ") %>
                    <td data-sort-by-text="<%= summary.list_full_name %>"><a href="<%= dashboard_show_url(summary.id) %>"><%= summary.list_full_name %></a></td>
                    <td>
                        <span title="<%= summary.status_tooltip %>" class="<%= summary.status_icon %>"></span>
                    </td>
                    <td class="number_cell_fixed" data-sort-by-number="<%= summary.status == 'OK' ? summary.bib_count : 0 %>">
                        <% if summary.status == "OK" %>
                            <%= number_with_delimiter(summary.bib_count) %>
                        <% end %>
                    </td>
                    <td data-sort-by-text="<%= summary.refreshed_at || '' %>">
                    <% if summary.refreshed_at != nil %>
                        <span title="<%= summary.refreshed_at.localtime %>"><%= time_ago_in_words(summary.refreshed_at) %> ago</span>
                    <% end %>
                    </td>
                </tr>
            <% end %>
        </table>
    </div>
</div>


<div class="row">
    <% if @editors.count == 0 %>
        <p>&nbsp;</p>
    <% else %>
        <h3>Users with edit access</h3>
        <p>Public collections can be viewed by any patron,
        but only the following users can edit them.</p>

        <!-- <p>Private collections are only visible and editable by their owner.</p> -->

        <div class="col-sm-12">
            <table>
                <tr>
                    <th>User</th>
                </tr>
                <% @editors.each do |user| %>
                    <tr>
                        <td><%= user %></td>
                    </tr>
                <% end %>
            </table>
        </div>
    <% end %>
</div>

<script>
$(document).ready(function(){

    window.josiahObject.setupSortColumn("collectionsTable", 1, "asc", false); // owner
    window.josiahObject.setupSortColumn("collectionsTable", 3, "asc", false); // list name
    window.josiahObject.setupSortColumn("collectionsTable", 4, "asc", false); // bib count
    window.josiahObject.setupSortColumn("collectionsTable", 5, "asc", false); // updated

    var filterRows = function() {
        // Get the values to filter by
        var filterOwner = $("#filterUser").val().trim().toLowerCase();
        var filterName = $("#filterName").val().trim().toLowerCase();
        var filterTag = $("#filterTag").val();
        var isFilterByOwner = (filterOwner != "_all_");
        var isFilterByName = (filterName != "");
        var isFilterByTag = (filterTag != "_all_");

        // Make all rows visible.
        $(".data-row").removeClass("hidden");

        if (isFilterByOwner) {
            // Hide those where the owner does not match
            $(".data-row").each(function(i, tr) {
                var i;
                var cssClasses = $(tr).attr("class").split(/\s+/);
                var rowOwner = "";
                for(i = 0; i < cssClasses.length; i++) {
                    if (cssClasses[i].startsWith("row-owner-")) {
                        rowOwner = cssClasses[i].replace("row-owner-", "").toLowerCase();
                        break;
                    }
                }
                if (rowOwner != filterOwner) {
                    $(tr).addClass("hidden");
                }
            });
        }

        if (isFilterByTag) {
            // Hide those where the tag does not match
            $(".data-row").each(function(i, tr) {
                var cssClasses = $(tr).attr("class").split(/\s+/);
                if (!cssClasses.includes("hidden")) {
                    var tags = $(tr).children().first().next().next().text().trim().split(", ");
                    if (!tags.includes(filterTag)) {
                        $(tr).addClass("hidden");
                    }
                }
            });
        }

        if (isFilterByName) {
            // Hide those where the name does not match
            $(".data-row").each(function(i, tr) {
                var cssClasses = $(tr).attr("class").split(/\s+/);
                if (!cssClasses.includes("hidden")) {
                    var rowName = $(tr).children().first().next().next().next().text().toLowerCase();
                    if (!rowName.includes(filterName)) {
                        $(tr).addClass("hidden");
                    }
                }
            });
        }
    }

    // Filter on owner change
    $("#filterUser").change(function() {
        filterRows();
    });

    $("#filterTag").change(function() {
        filterRows();
    });

    // Filter on collection name change
    $("#filterName").on("input",function(e) {
        filterRows();
    });

    // Apply filter with values on screen on load
    filterRows();
});
</script>