<h2><%= @data[:name] %></h2>
<p><%= @data[:description] %></p>

<h3>Call number ranges</h3>
<ul>
    <% @data[:ranges].each do |range| %>
        <li><%= range[:from] %> - <%= range[:to] %>
    <% end %>
</ul>

<h3>Records</h3>
<ul>
    <% @data[:bibs].each do |x| %>
        <li><a href="<%= x[:id] %>"></a><%= x[:original] %>
    <% end %>
</ul>
