<style>
    table {
        border-collapse: collapse;
        border: 1px solid #ecf0ea;
    }

    table td {
        border: 1px solid #ecf0ea;
    }
</style>

<h2><%= @info[:name] %></h2>
<p>Sierra List: <%= @info[:sierra_list] %></p>
<p>Total bibs: <%= @info[:bib_count] %></p>
<p>Total items: <%= @info[:item_count] %></p>

<p>Jump to filter by:
<a href="#by_subject">subject</a> |
<a href="#by_location">location</a> |
<a href="#by_callnumber">callnumber</a> |
<a href="#by_checkouts">checkouts</a> |
</p>

<h3>By Fund Codes</h3>
<table>
    <tr>
        <th>Fund Code</th>
        <th>Fund Code (Master)</th>
        <th>Item Count</th>
    </tr>
    <% @info[:fund_codes].each do |loc| %>
        <tr>
            <% if !loc[:fund_code].empty? %>
                <td><a href="<%= dashboard_details_path(key: 'fund', value: loc[:fund_code]) %>"><%= loc[:fund_code] %></a></td>
            <% else %>
                <td><a href="<%= dashboard_details_path(key: 'fund', value: '(none)') %>">(none)</a></td>
            <% end %>
            <td><%= loc[:fund_code_master] %></td>
            <td><%= loc[:count] %></td>
        </tr>
    <% end %>
</table>

<a href='#' name="by_subject"></a>
<h3>By Subject ($a)</h3>
<table>
    <tr>
        <th>Subject</th>
        <th>Item Count</th>
    </tr>
    <% @info[:subjects].each do |loc| %>
        <tr>
            <td><%= loc[:subject] %></a></td>
            <td><%= loc[:count] %></td>
        </tr>
    <% end %>
</table>


<a href='#' name="by_location"></a
<h3>By Location</h3>
<table>
    <tr>
        <th>Location</th>
        <th>Item Count</th>
    </tr>
    <% @info[:locations].each do |loc| %>
        <tr>
            <td><a href="<%= dashboard_details_path(key: 'loc', value: loc[:code]) %>"><%= loc[:code] %></a></td>
            <td><%= loc[:count] %></td>
        </tr>
    <% end %>
</table>


<a href='#' name="by_callnumber"></a
<h3>By Call number</h3>
<table>
    <tr>
        <th>Call number</th>
        <th>Item Count</th>
    </tr>
    <% @info[:callnumbers].each do |loc| %>
        <tr>
            <td><a href="<%= dashboard_details_path(key: 'cn', value: loc[:code]) %>"><%= loc[:code] %></a></td>
            <td><%= loc[:count] %></td>
        </tr>
    <% end %>
</table>


<a href='#' name="by_checkouts"></a
<h3>By Checkouts</h3>
<table>
    <tr>
        <th>Number of times</th>
        <th>Item Count</th>
    </tr>
    <% @info[:checkouts].each do |loc| %>
        <tr>
            <td><a href="<%= dashboard_details_path(key: 'ck', value: loc[:num]) %>"><%= loc[:num] %></a></td>
            <td><%= loc[:count] %></td>
        </tr>
    <% end %>
</table>

<h3>Download</h3>
<p><a href="#">Download data (TSV) (pending)</a></p>
