<style>
    table {
        border-collapse: collapse;
        border: 1px solid #ecf0ea;
    }

    table td {
        border: 1px solid #ecf0ea;
    }
</style>

<h2><%= @summary.list_name %></h2>
<p>Sierra List: <%= @summary.sierra_list %> (as of <%= @summary.updated_date %>)</p>
<p>Total bibs: <%= @summary.bib_count %></p>
<p>Total items: <%= @summary.item_count %></p>

<p>Jump to filter by:
<a href="#by_subject">subject</a> |
<a href="#by_location">location</a> |
<a href="#by_callnumber">callnumber</a> |
<a href="#by_checkouts">checkouts</a> |
</p>

<h3>By Fund Codes</h3>
<table>
    <tr>
        <th>Fund Code</th>
        <th>Fund Code (Master)</th>
        <th>Item Count</th>
    </tr>
    <% @summary.fund_codes.each do |fund| %>
        <tr>
            <% if !fund["Name"].empty? %>
                <td><a href="<%= dashboard_details_path(key: 'fund', value: fund['Name']) %>"><%= fund["Name"] %></a></td>
            <% else %>
                <td><a href="<%= dashboard_details_path(key: 'fund', value: '(none)') %>">(none)</a></td>
            <% end %>
            <td><%= fund["Name"] %></td>
            <td><%= fund["Count"] %></td>
        </tr>
    <% end %>
</table>

<a href='#' name="by_subject"></a>
<h3>By Subject ($a)</h3>
<table>
    <tr>
        <th>Subject</th>
        <th>Item Count</th>
    </tr>
    <% @summary.subjects.each do |sub| %>
        <tr>
            <td><%= sub["Name"] %></a></td>
            <td><%= sub["Count"] %></td>
        </tr>
    <% end %>
</table>

<a href='#' name="by_location"></a>
<h3>By Location</h3>
<table>
    <tr>
        <th>Location</th>
        <th>Item Count</th>
    </tr>
    <% @summary.locations.each do |loc| %>
        <tr>
            <td><a href="<%= dashboard_details_path(key: 'loc', value: loc['Name']) %>"><%= loc["Name"] %></a></td>
            <td><%= loc["Count"] %></td>
        </tr>
    <% end %>
</table>

<a href='#' name="by_callnumber"></a>
<h3>By Call number</h3>
<table>
    <tr>
        <th>Call number</th>
        <th>Item Count</th>
    </tr>
    <% @summary.callnumbers.each do |call_no| %>
        <tr>
            <td><a href="<%= dashboard_details_path(key: 'cn', value: call_no['Name']) %>"><%= call_no["Name"] %></a></td>
            <td><%= call_no["Count"] %></td>
        </tr>
    <% end %>
</table>


<a href='#' name="by_checkouts"></a>
<h3>By Checkouts</h3>
<table>
    <tr>
        <th>Number of times</th>
        <th>Item Count</th>
    </tr>
    <% @summary.checkouts.each do |ck| %>
        <tr>
            <td><a href="<%= dashboard_details_path(key: 'ck', value: ck['Name']) %>"><%= ck["Name"] %></a></td>
            <td><%= ck["Count"] %></td>
        </tr>
    <% end %>
</table>

<h3>Download</h3>
<p><a href="#">Download data (TSV) (pending)</a></p>