<style>
    table {
        border-collapse: collapse;
        border: 1px solid #ecf0ea;
    }

    table th {
        border: 1px solid #ecf0ea;
        padding-left: 10px;
        padding-right: 10px;
    }

    table td {
        border: 1px solid #ecf0ea;
        padding-left: 10px;
        padding-right: 10px;
    }

    .number_cell {
        text-align: right;
    }

    /* Source https://stackoverflow.com/a/47820340/446681 */
    .bar {
        width: 300px;
        height: 20px;
        /* background-color: rgba(231, 56, 39, 0.5); */
        overflow: hidden;
    }

    .progress {
        /* width: 96%; */
        height: 100%;
        background-color: #4c99fb;
        /* background-color: #e73827; */
    }

</style>

<div class="row">
    <h2><%= @presenter.summary.list_full_name %></h2>
    <div class="col-sm-12">
        <%= render "toolbar" %>
        <% if @presenter.summary.updated_date != "" %>
            <p>As of: <%= @presenter.summary.updated_date %></p>
        <% end %>
        <p>Total bibs: <%= number_with_delimiter(@presenter.summary.total_bibs()) %></p>
        <p>Total items: <%= number_with_delimiter(@presenter.summary.total_items()) %>
        | <a href="<%= dashboard_details_url(id: @presenter.summary.id) %>">View first 1,000</a>
        | <a href="<%= dashboard_details_url(id: @presenter.summary.id, all: 'yes') %>">View all</a>
        </p>
    </div>
</div> <!-- row -->

<div class="row">
    <div class="col-sm-12">
        <h3>Call number ranges</h3>
        <table>
            <tr>
                <th>Name</th>
                <th>From</th>
                <th>To</th>
                <th class="number_cell">Bibs</th>
                <th class="number_cell">Items</th>
                <th class="number_cell">%</th>
                <th>&nbsp;</th>
            </tr>
            <% @presenter.summary.ranges.each do |range| %>
                <tr>
                    <td>
                        <span title="<%= range.name_display %>"><%= truncate(range.name_display, length: 50) %></span>
                    </td>
                    <td><%= range.from %></td>
                    <td><%= range.to %></td>
                    <td class="number_cell">
                        <a href="<%= catalog_index_url(q: range.from + ' - ' + range.to, search_field: 'call_number_range') %>"
                            title="View these bib records in the catalog"><%= range.bib_count ? number_with_delimiter(range.bib_count) : "N/A" %></a>
                    </td>
                    <td class="number_cell">
                        <a href="<%= dashboard_details_path(id: @presenter.summary.id, range_id: range.id) %>"
                            title="View a downloadable list of the individual items"><%= range.item_count ? number_with_delimiter(range.item_count) : "N/A" %></a>
                    </td>
                    <td class="number_cell">
                        <% if range.item_percent > 0 %>
                            <%= range.item_percent %>&nbsp;%
                        <% else %>
                            &nbsp;
                        <% end %>
                    </td>
                    <td>
                        <div class="bar">
                            <div class="progress" style="width: <%= range.item_percent %>%;"></div>
                        </div>
                    </td>
                </tr>
            <% end %>
        </table>
    </div>
</div> <!-- row -->

<div class="row">
    <div class="col-sm-12">
        <h3>Locations</h3>
        <table>
            <tr>
                <th>Location</th>
                <th class="number_cell">Items</th>
                <th class="number_cell">%</th>
                <th>&nbsp;</th>
            </tr>
            <% @presenter.summary.locations.each do |loc| %>
                <tr>
                    <td><%= loc.code == loc.name ? loc.code : "#{loc.name} (#{loc.code})" %></td>
                    <td class="number_cell">
                        <a href="<%= dashboard_details_path(id: @presenter.summary.id, loc_code: loc.code) %>"><%= number_with_delimiter(loc.count) %></a>
                    </td>
                    <td class="number_cell">
                        <% if loc.percent > 0 %>
                            <%= loc.percent %>&nbsp;%
                        <% else %>
                            &nbsp;
                        <% end %>
                    </td>
                    <td>
                        <div class="bar">
                            <div class="progress" style="width: <%= loc.percent %>%;"></div>
                        </div>
                    </td>
                </tr>
            <% end %>
        </table>
    </div>
</div> <!-- row -->

<div class="row">
    <div class="col-sm-12">
        <h3>Usage</h3>
        <table>
            <tr>
                <th>Checkout Count</th>
                <th class="number_cell">Items</th>
                <th class="number_cell">%</th>
                <th>&nbsp;</th>
            </tr>
            <% @presenter.summary.checkouts.each do |ck| %>
                <tr>
                    <td><%= ck.code %></td>
                    <td class="number_cell">
                        <a href="<%= dashboard_details_path(id: @presenter.summary.id, ck: ck.code) %>"><%= number_with_delimiter(ck.count) %></a>
                    </td>
                    <td class="number_cell">
                        <% if ck.percent > 0 %>
                            <%= ck.percent %>&nbsp;%
                        <% else %>
                            &nbsp;
                        <% end %>
                    </td>
                    <td>
                        <div class="bar">
                            <div class="progress" style="width: <%= ck.percent %>%;"></div>
                        </div>
                    </td>
                </tr>
            <% end %>
        </table>
    </div>
</div> <!-- row -->
