<style>
    .warning-msg {
        background-color: #f7f7b9;
    }

    .info-msg {
        background-color: #cbe5f4;
    }

    table {
        border-collapse: collapse;
        border: 1px solid #ecf0ea;
    }

    table th {
        border: 1px solid #ecf0ea;
        padding-left: 10px;
        padding-right: 10px;
    }

    table td {
        border: 1px solid #ecf0ea;
        padding-left: 10px;
        padding-right: 10px;
    }

    .number_cell {
        text-align: right;
    }

    .number_cell_fixed {
        text-align: right;
        vertical-align: bottom;
        width: 90px;
    }

    .group_col_left {
        border-left: 2px solid;
        border-top: 2px solid;
        border-bottom: 2px solid;
    }

    .group_col_middle {
        border-top: 2px solid;
        border-bottom: 2px solid;
    }

    .group_col_right {
        border-right: 2px solid;
        border-top: 2px solid;
        border-bottom: 2px solid;
    }

    .group_col_all {
        border-right: 2px solid;
        border-left: 2px solid;
        border-top: 2px solid;
        border-bottom: 2px solid;
    }

    /* Source https://stackoverflow.com/a/47820340/446681 */
    .bar {
        width: 300px;
        height: 20px;
        /* background-color: rgba(231, 56, 39, 0.5); */
        overflow: hidden;
    }

    .progress {
        /* width: 96%; */
        height: 100%;
        background-color: #4c99fb;
        /* background-color: #e73827; */
    }
</style>

<div class="row">
    <a href="<%= dashboard_index_url() %>">Collection EcoSystem Dashboard</a>
    <h2><%= @presenter.summary.list_full_name %> <%= render "toolbar_show" %></h2>
    <div class="col-sm-12">
        <% if @presenter.summary.status == "UPDATED" %>
            <p class="warning-msg">This collection has been updated and <b><i>needs to be recalculated.</i></b><br/>
            Collections are automatically recalculated every half an hour. Please
            check again later today.
            <% if @presenter.summary.refreshed_at != nil %>
                (<%= @presenter.summary.refreshed_at.localtime %>)
            <% end %>
            </p>
        <% elsif @presenter.summary.status == "CALCULATING" %>
            <p class="info-msg">This collection is in the process of <b><i>being recalculated.</i></b><br/>
            The data below is not the latest. Please check again later today.
            <% if @presenter.summary.refreshed_at != nil %>
                <%= @presenter.summary.refreshed_at.localtime %>
            <% end %>
            </p>
        <% elsif @presenter.summary.status == "OK" %>
            <p>As of: <%= @presenter.summary.refreshed_at.localtime %></p>
        <% end %>

        <p>Total bibs: <%= number_with_delimiter(@presenter.summary.total_bibs()) %></p>
        <p>Total items: <%= number_with_delimiter(@presenter.summary.total_items()) %>
        |
        <% if @presenter.summary.status == "OK" && @presenter.summary.total_items() < 1000 %>
            <a href="<%= dashboard_details_url(id: @presenter.summary.id, all: 'yes') %>">View all</a>
        <% else %>
            <a href="<%= dashboard_details_url(id: @presenter.summary.id) %>">View first 1,000</a>
        <% end %>
        </p>

        <p>Owner: <%= @presenter.summary.created_by%>
        (<%= @presenter.summary.public == 1 ? "public" : "private" %>)
        </p>
    </div>
</div> <!-- row -->

<div class="row">

  <!-- Nav tabs -->
  <ul id="navTabs" class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#callNumbersTab" role="tab" data-toggle="tab">Call Numbers</a></li>
    <li><a href="#locationsTab" role="tab" data-toggle="tab">Locations</a></li>
    <li><a href="#acquisitionsBibTab" role="tab" data-toggle="tab">Acquisitions (bib)</a></li>
    <li><a href="#acquisitionsItemTab" role="tab" data-toggle="tab">Acquisitions (item)</a></li>
    <li><a href="#usageAllTab" role="tab" data-toggle="tab">Usage (all)</a></li>
    <li><a href="#usage2015Tab" role="tab" data-toggle="tab">Usage (2015+)</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane active" id="callNumbersTab">
        <h3>Call number ranges</h3>
        <table id="callNumbersTable">
            <tr>
                <th>Name</th>
                <th>From</th>
                <th>To</th>
                <th class="number_cell">Bibs</th>
                <th class="number_cell">Items</th>
                <th class="number_cell">%</th>
                <th>&nbsp;</th>
            </tr>
            <% @presenter.summary.ranges.each do |range| %>
                <tr>
                    <td data-sort-by-text="<%= range.name_display %>">
                        <span title="<%= range.name_display %>"><%= truncate(range.name_display, length: 50) %></span>
                    </td>
                    <td data-sort-by-text="<%= range.from_norm %>"><%= range.from %></td>
                    <td><%= range.to %></td>
                    <td class="number_cell">
                        <a href="<%= catalog_index_url(q: range.from + ' - ' + range.to, search_field: 'call_number_range', sort: 'callnumber_norm_ss asc') %>"
                            title="View these bib records in the catalog"><%= range.bib_count ? number_with_delimiter(range.bib_count) : "N/A" %></a>
                    </td>
                    <td class="number_cell" data-sort-by-number="<%= range.item_count %>">
                        <a href="<%= dashboard_details_path(id: @presenter.summary.id, range_id: range.id) %>"
                            title="View a downloadable list of the individual items"><%= range.item_count ? number_with_delimiter(range.item_count) : "N/A" %></a>
                    </td>
                    <td class="number_cell">
                        <% if range.item_percent > 0 %>
                            <%= range.item_percent %>&nbsp;%
                        <% else %>
                            &nbsp;
                        <% end %>
                    </td>
                    <td>
                        <div class="bar">
                            <div class="progress" style="width: <%= range.item_percent %>%;"></div>
                        </div>
                    </td>
                </tr>
            <% end %>
        </table>
    </div>

    <div class="tab-pane" id="locationsTab">
        <h3>Locations</h3>
        <table id="locationsTable">
            <tr>
                <th>Location</th>
                <th class="number_cell">Items</th>
                <th class="number_cell">%</th>
                <th>&nbsp;</th>
            </tr>
            <% @presenter.summary.locations.each_with_index do |loc, ix| %>
                <tr>
                    <td data-sort-by-text="<%= loc.name %>"><%= loc.code == loc.name ? loc.code : "#{loc.name} (#{loc.code})" %></td>
                    <td class="number_cell" data-sort-by-number="<%= loc.count %>">
                        <a href="<%= dashboard_details_path(id: @presenter.summary.id, loc_code: loc.code) %>"><%= number_with_delimiter(loc.count) %></a>
                    </td>
                    <td class="number_cell">
                        <% if loc.percent > 0 %>
                            <%= loc.percent %>&nbsp;%
                        <% else %>
                            &nbsp;
                        <% end %>
                    </td>
                    <td>
                        <div class="bar">
                            <div class="progress" style="width: <%= loc.percent %>%;"></div>
                        </div>
                    </td>
                </tr>
            <% end %>
        </table>
    </div>

    <div class="tab-pane" id="acquisitionsBibTab">
        <h3>Acquisitions by year (<%= number_with_delimiter(@presenter.summary.total_bibs) %> bibs)</h3>
        <p>As reported in MARC 907|c</p>
        <table id="acquisitionsBibTable">
            <tr>
                <th class="number_cell_fixed">Year</th>
                <th class="number_cell_fixed">Bibs</th>
                <th class="number_cell_fixed">%</th>
                <th class="number_cell_fixed">Online</th>
                <th class="number_cell_fixed group_col_left">Book</th>
                <th class="number_cell_fixed group_col_middle">Periodical</th>
                <th class="number_cell_fixed group_col_middle">Sound</th>
                <th class="number_cell_fixed group_col_middle">Video</th>
                <th class="number_cell_fixed group_col_middle">Score</th>
                <th class="number_cell_fixed group_col_middle">Thesis</th>
                <th class="number_cell_fixed group_col_middle">Map</th>
                <th class="number_cell_fixed group_col_middle">File</th>
                <th class="number_cell_fixed group_col_middle">Visual</th>
                <th class="number_cell_fixed group_col_middle">Archive</th>
                <th class="number_cell_fixed group_col_middle">3D</th>
                <th class="number_cell_fixed group_col_middle">Mixed</th>
                <th class="number_cell_fixed group_col_right">Unknown</th>
            </tr>
            <% @presenter.summary.acquisitions_bib.each do |acq| %>
                <tr>
                    <td data-sort-by-number="<%= acq.year %>" class="number_cell_fixed"><%= acq.year %></td>
                    <td data-sort-by-number="<%= acq.total %>" class="number_cell_fixed"><%= number_with_delimiter(acq.total) %></td>
                    <td data-sort-by-number="<%= acq.percent(@presenter.summary.total_bibs()) %>" class="number_cell_fixed"><%= acq.percent(@presenter.summary.total_bibs()) %>%</td>
                    <td data-sort-by-number="<%= acq.online %>" class="number_cell_fixed"><%= number_with_delimiter(acq.online) %></td>
                    <td data-sort-by-number="<%= acq.book %>" class="number_cell_fixed"><%= number_not_empty(acq.book) %></td>
                    <td data-sort-by-number="<%= acq.periodical %>" class="number_cell_fixed"><%= number_not_empty(acq.periodical) %></td>
                    <td data-sort-by-number="<%= acq.sound %>" class="number_cell_fixed"><%= number_not_empty(acq.sound) %></td>
                    <td data-sort-by-number="<%= acq.video %>" class="number_cell_fixed"><%= number_not_empty(acq.video) %></td>
                    <td data-sort-by-number="<%= acq.score %>" class="number_cell_fixed"><%= number_not_empty(acq.score) %></td>
                    <td data-sort-by-number="<%= acq.etd %>" class="number_cell_fixed"><%= number_not_empty(acq.etd) %></td>
                    <td data-sort-by-number="<%= acq.map %>" class="number_cell_fixed"><%= number_not_empty(acq.map) %></td>
                    <td data-sort-by-number="<%= acq.file %>" class="number_cell_fixed"><%= number_not_empty(acq.file) %></td>
                    <td data-sort-by-number="<%= acq.visual %>" class="number_cell_fixed"><%= number_not_empty(acq.visual) %></td>
                    <td data-sort-by-number="<%= acq.archive %>" class="number_cell_fixed"><%= number_not_empty(acq.archive) %></td>
                    <td data-sort-by-number="<%= acq.object %>" class="number_cell_fixed"><%= number_not_empty(acq.object) %></td>
                    <td data-sort-by-number="<%= acq.mixed %>" class="number_cell_fixed"><%= number_not_empty(acq.mixed) %></td>
                    <td data-sort-by-number="<%= acq.unknown %>" class="number_cell_fixed"><%= number_not_empty(acq.unknown) %></td>
                </tr>
            <% end %>
        </table>
    </div>

    <div class="tab-pane" id="acquisitionsItemTab">
        <h3>Acquisitions by year (<%= number_with_delimiter(@presenter.summary.total_items) %> items)</h3>
        <p>As reported in MARC 945|z</p>
        <table id="acquisitionsItemTable">
            <tr>
                <th>Year</th>
                <th class="number_cell">Items</th>
                <th class="number_cell">%</th>
                <th>&nbsp;</th>
            </tr>
            <% @presenter.summary.acquisitions_item.each do |acq| %>
                <tr>
                    <td data-sort-by-number="<%= acq.year %>"><%= acq.year %></td>
                    <td data-sort-by-number="<%= acq.count %>" class="number_cell">
                        <a href="<%= dashboard_details_path(id: @presenter.summary.id, yr: acq.year) %>"><%= number_with_delimiter(acq.count) %></a>
                    </td>
                    <td class="number_cell">
                        <% if acq.percent > 0 %>
                            <%= acq.percent %>&nbsp;%
                        <% else %>
                            &nbsp;
                        <% end %>
                    </td>
                    <td>
                        <div class="bar">
                            <div class="progress" style="width: <%= acq.percent %>%;"></div>
                        </div>
                    </td>
                </tr>
            <% end %>
        </table>
    </div>

    <div class="tab-pane" id="usageAllTab">
        <h3>Usage (all)</h3>
        <p>As reported in MARC 945|u</p>
        <table id="usageAllTable">
            <tr>
                <th>Checkout Count</th>
                <th class="number_cell">Items</th>
                <th class="number_cell">%</th>
                <th>&nbsp;</th>
            </tr>
            <% @presenter.summary.checkouts.each do |ck| %>
                <tr>
                    <td data-sort-by-number="<%= ck.code.to_i %>"><%= ck.code %></td>
                    <td data-sort-by-number="<%= ck.count %>" class="number_cell">
                        <a href="<%= dashboard_details_path(id: @presenter.summary.id, ck: ck.code) %>"><%= number_with_delimiter(ck.count) %></a>
                    </td>
                    <td class="number_cell">
                        <% if ck.percent > 0 %>
                            <%= ck.percent %>&nbsp;%
                        <% else %>
                            &nbsp;
                        <% end %>
                    </td>
                    <td>
                        <div class="bar">
                            <div class="progress" style="width: <%= ck.percent %>%;"></div>
                        </div>
                    </td>
                </tr>
            <% end %>
        </table>
    </div>

    <div class="tab-pane" id="usage2015Tab">
        <h3>Usage (since 2015)</h3>
        <p>As reported in MARC 945|w (<a href="#" id="usageViewAll">view all</a>)</p>
        <table id="usage2015Table">
            <tr>
                <th>Checkout Count</th>
                <th class="number_cell">Items</th>
                <th class="number_cell">%</th>
                <th>&nbsp;</th>
            </tr>
            <% @presenter.summary.checkouts_2015.each do |ck| %>
                <tr>
                    <td data-sort-by-number="<%= ck.code.to_i %>"><%= ck.code %></td>
                    <td data-sort-by-number="<%= ck.count %>" class="number_cell">
                        <a href="<%= dashboard_details_path(id: @presenter.summary.id, ck: ck.code) %>"><%= number_with_delimiter(ck.count) %></a>
                    </td>
                    <td class="number_cell">
                        <% if ck.percent > 0 %>
                            <%= ck.percent %>&nbsp;%
                        <% else %>
                            &nbsp;
                        <% end %>
                    </td>
                    <td>
                        <div class="bar">
                            <div class="progress" style="width: <%= ck.percent %>%;"></div>
                        </div>
                    </td>
                </tr>
            <% end %>
        </table>
    </div>
  </div>
</div>

<div class="row">
    <p>&nbsp;</p>
</div> <!-- row -->

<script>
$(document).ready(function(){
    setupSortColumn("callNumbersTable", 0, "asc", false);
    setupSortColumn("callNumbersTable", 1, "desc", true);
    setupSortColumn("callNumbersTable", 4, "desc", false);

    setupSortColumn("locationsTable", 0, "asc", false);
    setupSortColumn("locationsTable", 1, "asc", true);

    setupSortColumn("acquisitionsBibTable", 0, "desc", true);
    setupSortColumn("acquisitionsBibTable", 1, "asc", false);

    setupSortColumn("acquisitionsItemTable", 0, "desc", false);
    setupSortColumn("acquisitionsItemTable", 1, "asc", true);

    setupSortColumn("usageAllTable", 0, "desc", false);
    setupSortColumn("usageAllTable", 1, "asc", true);

    setupSortColumn("usage2015Table", 0, "desc", false);
    setupSortColumn("usage2015Table", 1, "asc", true);
});

function setupSortColumn(tableId, colNumber, direction, defaultSort) {
    var header = document.getElementById(tableId).rows[0];
    var column = header.getElementsByTagName("TH")[colNumber];
    var columnId = tableId + "_col_" + colNumber.toString();
    var sortLink = "<a href='#' id='" + columnId + "' title='Click to sort'>" + column.innerHTML + "</a>";
    var sortIcon;

    if (defaultSort) {
        sortIcon = "<span style='font-size: 12px;' class='glyphicon glyphicon-sort'></span>";
    } else {
        sortIcon = "<span style='font-size: 12px;' class='hidden glyphicon glyphicon-sort'></span>";
    }

    // Sets the default sort direction for the column,
    // adds a link to the header to allow user to click to sort,
    // and wire the link to call the sortTable() function.
    column.setAttribute("data-sort-direction", direction);
    column.innerHTML = sortLink + "&nbsp;" + sortIcon;
    $("#" + columnId).on("click", function(e) {
        var i, th;
        e.preventDefault();
        // Sort the data...
        sortTable(tableId, colNumber);
        // ...and make sure this column is marked as the one we are sorting on
        for(i = 0; i < header.getElementsByTagName("TH").length; i++) {
            th = header.getElementsByTagName("TH")[i]
            if (i == colNumber) {
                $(th).find("span").removeClass("hidden");
            } else {
                $(th).find("span").addClass("hidden");
            }
        }
    });
}

// Source: https://www.w3schools.com/howto/howto_js_sort_table.asp
function sortTable(tableId, colNumber) {
    var table = document.getElementById(tableId);
    var rows = table.rows;
    var th = rows[0].getElementsByTagName("TH")[colNumber];
    var descending = (th.dataset.sortDirection == "desc");
    var i, xElement, yElement, x, y, shouldSwitch;
    var switching = true;

    /* Make a loop that will continue until
    no switching has been done: */
    while (switching) {
        // Start by saying: no switching is done:
        switching = false;
        rows = table.rows;
        /* Loop through all table rows (except the
        first, which contains table headers): */
        for (i = 1; i < (rows.length - 1); i++) {
            // Start by saying there should be no switching:
            shouldSwitch = false;
            /* Get the two elements you want to compare,
            one from current row and one from the next: */
            xElement = rows[i].getElementsByTagName("TD")[colNumber];
            yElement = rows[i + 1].getElementsByTagName("TD")[colNumber];

            if (xElement.dataset.hasOwnProperty("sortByNumber")) {
                x = parseInt(xElement.dataset.sortByNumber, 10)
                y = parseInt(yElement.dataset.sortByNumber, 10)
            } else {
                x = xElement.dataset.sortByText.toLowerCase();
                y = yElement.dataset.sortByText.toLowerCase();
            }

            if (descending) {
                // Check if the two rows should switch place:
                if (x < y) {
                    // If so, mark as a switch and break the loop:
                    shouldSwitch = true;
                    break;
                }
            } else {
                // Check if the two rows should switch place:
                if (x > y) {
                    // If so, mark as a switch and break the loop:
                    shouldSwitch = true;
                    break;
                }
            }
        } // for

        if (shouldSwitch) {
            /* If a switch has been marked, make the switch
            and mark that a switch has been done: */
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
        }

    } // while

    // Reverse the sorting direction for the next round.
    if (descending) {
        th.dataset.sortDirection = "asc";
    } else {
        th.dataset.sortDirection = "desc";
    }
}
</script>