<script>
var courses = [];
<% @courses.each do |course| %>
  courses.push(<%= course.to_json.html_safe %>);
<% end %>

$(document).ready(function() {
  $("#course_num").on("input", function() {
    filterByCourseNumber();
  });

  $("#instructor").on("input", function() {
    filterByInstructor();
  });

  $("#course_name").on("input", function() {
    filterByCourseName();
  });

  // Honor the defult filter (if any)
  if ($("#course_num").val()) {
    filterByCourseNumber();
  } else if ($("#instructor").val()) {
    filterByInstructor();
  } else if ($("#course_name").val()) {
    filterByCourseName();
  }
});

function filterByCourseNumber() {
  var filteredList = [];
  var i, course, number, searchValue;

  // clear other searches
  $("#instructor").val("")
  $("#course_name").val("")

  // remove dashes and spaces to use a "standardized" course number
  searchValue = $("#course_num").val();
  searchValue = searchValue.toUpperCase();
  searchValue = searchValue.replace(/ /g, '');
  searchValue = searchValue.replace(/-/g, '');

  for(i = 0; i < courses.length; i++) {
    course = courses[i];
    number = course.number_search.toUpperCase();
    if (number.indexOf(searchValue) != -1) {
      filteredList.push(course);
    }
  }
  renderCourseList(filteredList);
}

function filterByCourseName() {
  var filteredList = [];
  var i, course, number, searchValue;

  // clear other searches
  $("#course_num").val("")
  $("#instructor").val("")

  // remove dashes and spaces to use a "standardized" course number
  searchValue = $("#course_name").val();
  searchValue = searchValue.toUpperCase();

  for(i = 0; i < courses.length; i++) {
    course = courses[i];
    number = course.name.toUpperCase();
    if (number.indexOf(searchValue) != -1) {
      filteredList.push(course);
    }
  }
  renderCourseList(filteredList);
}

function filterByInstructor() {
  var filteredList = [];
  var i, course, number, searchValue;
  var searchValue = $("#instructor").val().toUpperCase();

  // clear other searches
  $("#course_num").val("")
  $("#course_name").val("")

  for(i = 0; i < courses.length; i++) {
    course = courses[i];
    number = course.instructor.toUpperCase();
    if (number.indexOf(searchValue) != -1) {
      filteredList.push(course);
    }
  }
  renderCourseList(filteredList);
}

function renderCourseList(list) {
  var i;
  $(".rowx").addClass("hide");
  for(i = 0; i < list.length; i++) {
    $("#row_" + list[i].classid).removeClass("hide");
  }
}
</script>


<h1>In-Library Course Reserves</h1>
<div>
<%= form_tag(reserves_search_path, method: "get", class: "form-inline") do %>
  <div class="form-group">
    <%= label_tag(:course_num, "Course #", for:"course_num") %>
    <%= text_field_tag(:course_num, @course_num, class: "form-control") %>
  </div>
  <div class="form-group">
    <%= label_tag(:instructor, "Instructor", for:"instructor") %>
    <%= text_field_tag(:instructor, @instructor, class: "form-control") %>
  </div>
  <div class="form-group">
    <%= label_tag(:course_name, "Course Name", for:"course_name") %>
    <%= text_field_tag(:course_name, @course_name, class: "form-control") %>
  </div>
  <% # submit_tag("Search", class: "btn btn-primary search-btn", name: "search") %>
<% end %>
</div>

<div>&nbsp;</div>
<div>
  <% if @no_courses_msg %>
    <div class="alert alert-danger" role="alert"><%= @no_courses_msg.html_safe %></div>
  <% end %>

  <% if @courses.count > 0 %>
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">The following courses were found</div>
      <!-- <div class="panel-body">
        <p>Select a course to view in-library and online reserves for it</p>
      </div> -->
      <table class="table">
        <tr>
          <th>Course #</th>
          <th>Semester</th>
          <th>Course Name</th>
          <th>Professor</th>
        </tr>
        <% @courses.each do |c| %>
          <tr id="row_<%= c.classid %>" class="rowx">
            <td><%= link_to(c.number_section, reserves_show_path(classid: c.classid, classnumber: c.number_url)) %></td>
            <td><%= c.semester %>
            <td><%= c.name %></td>
            <td><%= c.instructor %></td>
          </tr>
        <% end %>
      </table>
    </div>
  <% end %>
</div>
