<%= link_to("Back to Search Reserves", reserves_search_path()) %>

<h2><%= @materials.course.name %></h2>
<h4><%= @materials.course.full_number %></h4>
<h3><%= link_to(@materials.course.instructor, reserves_search_path(instructor:@materials.course.instructor_search)) %></h3>
<h4>In-Library Course Reserves</h4>
<% if @materials.books.count == 0 %>
  <ul>
    <li>There are no in-library reserves for this course
  </ul>
<% else %>
  <ul>
  <% @materials.books.each do |book| %>
    <li>
      <% if book.bib != nil %>
        <%= link_to(book.title, catalog_path(id: book.bib)) %>
      <% else %>
        <%= book.title %>
      <% end %>

      <% if book.personal %>
        <i><b>(professor's copy)</b></i>
      <% end %>

      <% if !book.callno.blank? %>
        <% if book.bib == nil %>
          <!-- render as link -->
          (<%= link_to(book.callno, catalog_index_path(q: '"' + book.callno + '"')) %>)
        <% else %>
          <!-- don't render as link we already have a link by BIB number -->
          (<%= book.callno %>)
        <% end %>
      <% end %>

      <%= book.loan_term %>
  <% end %>
  </ul>
<% end %>

<% if @materials.panopto_items > 0 || @materials.online_items > 0 %>
  <h4>Other materials in reserve</h4>
  <ul>
  <% if @materials.panopto_items > 0 %>
    <li>There are
      <a href="<%=@materials.panopto_url %>" target="_blank"><%= @materials.panopto_items %> items in Panopto</a> for this course.
  <% end %>

  <% if @materials.online_items > 0 %>
    <li>There are
      <a href="<%=@materials.online_url %>" target="_blank"><%= @materials.online_items %> online items in OCRA</a> for this course.
  <% end %>
  </ul>
<% end %>
