<a href="<%= reserves_search_path() %>" class="back-to-search" id="backToSearch">
  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>Back to Search Reserves
</a>

<script>
$(document).ready(function(){
  $("#backToSearch").attr("href", "javascript: history.go(-1)");
});
</script>

<div class="container">

  <div class="row">
    <div id="header" class="col-md-12">
      <h2><%= @materials.course.name %></h2>
      <h4>Course #<b> <%= @materials.course.number_section%></b>
      &nbsp;&nbsp;&nbsp;&nbsp;Semester: <b><%= @materials.course.semester%></b>
      </h4>
      <% if @materials.course.instructor %>
        <h3><%= link_to(@materials.course.instructor, reserves_search_path(instructor:@materials.course.instructor)) %></h3>
      <% end %>
    </div>
  </div> <!-- header, col-md-12 -->

  <div class="row">
    <div id="content" class="col-md-9">

      <div class="panel panel-default">
        <div class="panel-heading">
          In-Library Course Reserves
        </div>

        <div class="panel-body">
          <% if @materials.books.count == 0 %>
            There are no in-library reserves for this course yet. <br/>
            Please ask the front desk if you have any questions.
          <% else %>
            The following items are in reserve at the library for this course.
            Find these items at the front desk.
          <% end %>

          <% if @materials.course.location %>
            <b>Library: <%= @materials.course.location %></b>
          <% end %>

          <% if @materials.books.count > 0 %>
            <table class="table">
              <tr>
                <th>Title</th>
                <th>Call #</th>
                <th>Loan Term</th>
              </tr>
              <% @materials.books.each do |book| %>
              <tr>
                <td>
                  <% if book.bib != nil %>
                    <%= link_to(book.title, catalog_path(id: book.bib), title: "View this item in the catalog") %>
                  <% else %>
                    <%= book.title %>
                  <% end %>
                </td>

                <td>
                <% if book.personal %>
                  Professor's copy
                  <i class="fa fa-info-circle"
                    data-toggle="tooltip"
                    title="This item is a professor's copy and not an item owned by the library. Go to the front desk to request it."></i>
                <% else %>
                  <% if book.callno.blank? %>
                    N/A
                  <% else %>
                    <% if book.bib == nil %>
                      <!-- render as link -->
                      <%= link_to(book.callno, catalog_index_path(q: '"' + book.callno_search + '"'), title: "Find this item in the catalog") %>
                    <% else %>
                      <!-- don't render as link we already have a link by BIB number -->
                      <%= book.callno %>
                    <% end %>
                  <% end %>
                <% end %>
                </td>

                <td>
                  <%= book.loan_term %>
                </td>
              </tr>
            <% end %>
            </table>
          <% end %>
        </div> <!-- panel-body -->
      </div> <!-- panel -->
    </div> <!-- content, col-md-9 -->

    <div id="sidebar" class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          See also
        </div>
        <div class="panel-body">
          <% if @materials.panopto_items > 0 || @materials.online_items > 0 %>
            <p>Notice that there are<%= @materials.books.count > 0 ? " also " : " " %>online items in reserve for this course. </p>
            <ul>
            <% if @materials.panopto_items > 0 %>
              <li>There are
                <a href="<%=@materials.panopto_url %>" target="_blank"><%= @materials.panopto_items %> items in Panopto</a> for this course.
            <% end %>

            <% if @materials.online_items > 0 %>
              <li>There are
                <a href="<%=@materials.online_url %>" target="_blank"><%= @materials.online_items %> online items in OCRA</a> for this course.
            <% end %>
            </ul>
          <% end %>

          <% if @materials.course.lib_guide_url %>
            <p>See also the <a href="<%= @materials.course.lib_guide_url %>" target="_blank">course guide to library resources</a>.</p>
          <% end %>

          <p>Faculty and staff can manage course reserves via
            <a href="http://library.brown.edu/reserves" target="_blank">OCRA</a>.</p>
        </div>
      </div>
    </div> <!-- sidebar, col-md-3 -->
  </div> <!-- row -->
</div>
