<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text&display=swap" rel="stylesheet">
</head>

<body>
    <style>
        /*
        This does not work :(
        Select landscape by default (https://stackoverflow.com/a/1392794/446681)
        @media print{@page {size: landscape}}
        */

        table {
            width: 100%;
        }

        .column {
            padding-right: 80px;
            font-size: large;
            vertical-align: top;
        }

        .barcode-large {
            font-family: 'Libre Barcode 39 Text', cursive;
            font-size: 60px;
            white-space: nowrap; /* thanks Kerri! */
        }

        .barcode {
            font-family: 'Libre Barcode 39 Text', cursive;
            font-size: 60px;
            white-space: nowrap; /* thanks Kerri! */
        }

        .callnumber {
            white-space: nowrap;
        }

        .pagebreak {
            page-break-after: always;
        }
    </style>

    <% @table.each do |row| %>
        <table>
            <col width="33%">
            <col width="33%">
            <col width="33%">
            <tbody>
                <tr>
                <% row.each do |cell| %>
                    <% next if cell == nil %>
                    <td class="column">
                        <%= cell["ProjectTitle"] %><br/>
                        #<%= cell["PrintOrder"] %><br/>
                        <%= cell["CallNumber"] %><br/>
                        c. <%= cell["CopyNum"] %> <%= cell["Volume"] %>
                        <hr/>
                        <span class="barcode-large"><%= cell["BarCodePrint"] %></span><br/>
                        <%= cell["DisplayOrder"] %> / <%= cell["ItemLocation"] %> / <%= cell["LocalTag"] %><br/>
                        <hr/>
                        <%= truncate_text(cell["Title"], 150) %><br/>
                        <%= truncate_text(cell["Description"], 150) %><br/>
                        <%= truncate_text(cell["Publisher"], 100) %><br/>
                        <br/>
                        &nbsp;<br/>
                        &nbsp;<br/>
                        <%= cell["OrderNum"] %><br/>
                        <%= cell["Code2"] %><br/>
                        <%= cell["ItemStatusCode"] %><br/>

                        <%= cell["Edition"] %><br/>
                        <%= truncate_text(cell["LocalNotes"], 300) %><br/>
                        <br/>
                        Flag prepared: <%= Date.today %></br>
                        Bound with: <%= cell["BndWidth"] ? "Yes" : "No" %><br/>
                        &nbsp;<br/>
                        &nbsp;<br/>
                        &nbsp;<br/>
                        &nbsp;<br/>
                        &nbsp;<br/>
                        <hr/>
                        <%= cell["CallNumber"] %> c.<%= cell["CopyNum"] %> <%= cell["Volume"] %><br/>
                        <%= cell["ItemRecordNum"] %> / <%= cell["BibRecordNum"] %><br/>
                        <%= truncate_text(cell["Title"], 150) %><br/>
                        <span class="barcode"><%= cell["BarCodePrint"] %></span><br/>
                    </td>
                <% end %>
                </tr>
            </tbody>
        </table>
        <div class="pagebreak"> </div>
    <% end %>
</body>
