<style>
  .barcode {
    font-family: "Libre Barcode 128 Text", cursive;
    font-size: 30px;
    white-space: nowrap; /* thanks Kerri! */
  }

  .callnumber {
    white-space: nowrap;
  }
</style>

<h2>Pull Slips for List <%= @id %></h2>
<p><%= @ps.title %> as of <%= @ps.list_date_human %>

<div class="btn-group" role="group" aria-label="...">
  <a class="btn btn-default"
    title="Download data to import into Excel or Google Sheets"
    href="<%= pullslips_show_url(id: @ps.id, format: 'tsv') %>" >Download</a>
  <a class="btn btn-default"
    title="Render a version suitable for printing (takes a while on large lists)"
    target="_blank"
    href="<%= pullslips_print_url(id: @ps.id) %>">Print Version</a>
  &nbsp;&nbsp;
  <%= render "select_list" %>
</div>

<p>&nbsp;</p>

<div style="overflow-x: scroll;">
  <table class="table">
      <tr class="row">
        <th>DisplayOrder</th>
        <th>OrderNum</th>
        <th>CallNumber</th>
        <th>CopyNum</th>
        <th>Volume</th>
        <th>BarCode</th>
        <th>Code2</th>
        <th>ItemStatusCode</th>
        <th>BibRecordNum</th>
        <th>ItemRecordNum</th>
        <th>LocalTag</th>
        <th>Title</th>
        <th>Edition</th>
        <th>Publisher</th>
        <th>Pub. Year</th>
        <th>Author</th>
        <th>Description</th>
        <th>ItemLocation</th>
        <th>LocalNotes</th>
        <th>BndWith</th>
      </tr>
      <% @ps.data.each do |r| %>
        <tr class="row">
          <td><%= r["PrintOrder"] %></td>
          <td><%= r["OrderNum"] %></td>
          <td class="callnumber"><%= r["CallNumber"] %></td>
          <td><%= r["CopyNum"] %></td>
          <td><%= r["Volume"] %></td>
          <td class="barcode"><%= r["BarCode"] %></td>
          <td><%= r["Code2"] %></td>
          <td><%= r["ItemStatusCode"] %></td>
          <td><a href="<%= catalog_url(id: r['BibRecordNum']) %>" target="_blank"><%= r['BibRecordNum'] %></a></td>
          <td><%= r["ItemRecordNum"] %></td>
          <td><%= r["LocalTag"] %></td>
          <td><%= r["Title"] %></td>
          <td><%= r["Edition"] %></td>
          <td><%= r["Publisher"] %></td>
          <td><%= r["PubYear"] %></td>
          <td><%= r["Author"] %></td>
          <td><%= r["Description"] %></td>
          <td><%= r["ItemLocation"] %></td>
          <td><%= r["LocalNotes"] %></td>
          <td><%= r["BndWidth"] %></td>
        </tr>
      <% end %>
  </table>
</div>
