<style>
  .barcode {
    font-family: "Libre Barcode 128 Text", cursive;
    font-size: 30px;
    white-space: nowrap; /* thanks Kerri! */
  }

  .callnumber {
    white-space: nowrap;
  }
</style>

<h2>Hay Query Test2</h2>
<a href="<%= hay_print_url() %>">Print Version</a>
<div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">DisplayOrder</th>
        <th scope="col">OrderNum</th>
        <th scope="col">CallNumber</th>
        <th scope="col">CopyNum</th>
        <th scope="col">Volume</th>
        <th scope="col">BarCode</th>
        <th scope="col">Code2</th>
        <th scope="col">ItemStatusCode</th>
        <th scope="col">BibRecordNum</th>
        <th scope="col">ItemRecordNum</th>
        <th scope="col">LocalTag</th>
        <th scope="col">Title</th>
        <th scope="col">Edition</th>
        <th scope="col">Publisher</th>
        <th scope="col">Description</th>
        <th scope="col">ItemLocation</th>
        <th scope="col">LocalNotes</th>
        <th scope="col">BndWidth</th>
      </tr>
    </thead>
    <tbody>
      <% @results.each do |r| %>
        <tr class="row">
          <td><%= r["DisplayOrder"] %></td>
          <td><%= r["OrderNum"] %></td>
          <td class="callnumber"><%= r["CallNumber"] %></td>
          <td><%= r["CopyNum"] %></td>
          <td><%= r["Volume"] %></td>
          <td class="barcode"><%= r["BarCode"] %></td>
          <td><%= r["Code2"] %></td>
          <td><%= r["ItemStatusCode"] %></td>
          <td><%= r["BibRecordNum"] %></td>
          <td><%= r["ItemRecordNum"] %></td>
          <td><%= r["LocalTag"] %></td>
          <td><%= r["Title"] %></td>
          <td><%= r["Edition"] %></td>
          <td><%= r["Publisher"] %></td>
          <td><%= r["Description"] %></td>
          <td><%= r["ItemLocation"] %></td>
          <td><%= r["LocalNotes"] %></td>
          <td><%= r["BndWidth"] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
