<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="https://fonts.googleapis.com/css?family=Libre+Barcode+128+Text" rel="stylesheet">
</head>

<body>
    <style>
        table {
            width: 100%;
        }

        .column {
            padding-right: 80px;
        }

        .barcode-large {
            font-family: "Libre Barcode 128 Text", cursive;
            font-size: 60px;
            white-space: nowrap; /* thanks Kerri! */
        }

        .barcode {
            font-family: "Libre Barcode 128 Text", cursive;
            font-size: 30px;
            white-space: nowrap; /* thanks Kerri! */
        }

        .callnumber {
            white-space: nowrap;
        }

        .pagebreak {
            page-break-after: always;
        }
    </style>

    <% @table.each do |row| %>
        <table>
            <col width="33%">
            <col width="33%">
            <col width="33%">
            <tbody>
                <tr>
                <% row.each do |cell| %>
                    <td class="column">
                        <%= cell["CallNumber"] %><br/>
                        c. <%= cell["CopyNum"] %> <%= cell["Volume"] %>
                        <hr/>
                        <span class="barcode-large"><%= cell["BarCode"] %></span><br/>
                        xxx-nnn zz.nn #n<br/>
                        XXX XXXXXX XXXXXX <b>xnnnnn</b> XXX</br>
                        <hr/>
                        <%= cell["Title"] %><br/>
                        <%= cell["Description"] %><br/>
                        <%= cell["Publisher"] %><br/>
                        &nbsp;<br/>
                        &nbsp;<br/>
                        &nbsp;<br/>
                        <%= cell["DisplayOrder"] %><br/>
                        <%= cell["OrderNum"] %><br/>
                        <%= cell["Code2"] %><br/>
                        <%= cell["ItemStatusCode"] %><br/>
                        <%= cell["LocalTag"] %><br/>
                        <%= cell["Edition"] %><br/>
                        <%= cell["ItemLocation"] %><br/>
                        <%= cell["LocalNotes"] %><br/>
                        <%= cell["BndWidth"] %><br/>
                        &nbsp;<br/>
                        &nbsp;<br/>
                        &nbsp;<br/>
                        <hr/>
                        xnnnnn XXX<br/>
                        <%= cell["CallNumber"] %> c.<%= cell["CopyNum"] %> <%= cell["Volume"] %><br/>
                        <%= cell["ItemRecordNum"] %> / <%= cell["BibRecordNum"] %><br/>
                        <%= cell["Title"] %><br/>
                        <span class="barcode"><%= cell["BarCode"] %></span><br/>
                    </td>
                <% end %>
                </tr>
            </tbody>
        </table>
        <div class="pagebreak"> </div>
    <% end %>
</body>
