<% if @has_query != true %>
    <div class="col-md-6 col-md-offset-3">
        <div class="well well-lg">
            Lorem ipsum dolor sit amet, luptatum vivendum quo ex, pri cu veri commune definiebas, id homero omnesque postulant est. Minimum recteque sed ne, usu no case officiis intellegebat, ius an esse fabellas. Ne cum tation labores officiis. No doming reprehendunt his, mei id natum salutandi deterruisset. Eos quem integre et, dictas argumentum definitiones vel ad.
        </div>
    </div>
<% else %>
    <div id="easy-find" class="col-md-12">
        <div id="facets" class="col-md-3">
            <h4>All results</h3>
                <ul>
                    <li><a href="<%= summon_search(params[:q]) =%>">Articles</a></li>
                    <li><a href="<%= worldcat_search(params[:q]) =%>" id="worldcat-search">Worldcat</a></li>
                </ul>
            <div id="format-filter">
                <h4>Format</h3>
                <ul id="format-list"></ul>
            </div>
        </div>
        <div id="bentos" class="col-md-9">
            <div class="row">
                <div id="books" class="col-md-6">
                    <h3>Books</h3>
                    <i class="waiting fa fa-circle-o-notch fa-spin fa-2x spinner"></i>
                    <ul></ul>
                    <div class="more"></div>
                </div>
                <div id="summon-search" class="col-md-6">
                    <h3>Articles</h3>
                    <i class="waiting fa fa-circle-o-notch fa-spin fa-2x spinner"></i>
                    <ul></ul>
                    <div class="more center-block"></div>
                </div>
            </div>
            <div class="row">
                <div id="bdr-search" class="col-md-6">
                    <h3>Repository</h3>
                    <i class="waiting fa fa-circle-o-notch fa-spin fa-2x spinner"></i>
                    <ul></ul>
                </div>
            </div>
        </div>
    </div>
<% end %>


<%# Link to JSON data out %>
<span id="path" class="hidden"><%= data_link(params[:q]) =%></span>
<span id="catalog-path" class="hidden"><%= catalog_record_url =%></span>
<span id="summon-more" class="hidden"><%= summon_search(params[:q]) =%></span>

<script type="text/javascript">
  var dataUrl = "<%= data_link(params[:q]) =%>";
  $(document).ready(function() {
    var query = getParameterByName('q');
    if (query == "") {
        console.debug('no query');
    } else {
        catalogBentos(query);
        bento(query);
        bento_bdr(query);
    };
});

function bento(query) {
    <%#var dataUrl = $('#path').text();%>
    $.ajax(dataUrl + '&source=summon', {
      success: function(response) {
        $('#summon-search i').hide();
        addItemsToBox(response, 'summon-search');
        var more = $('#summon-more').text();
        $('#summon-search .more').append('<a href="' + more + '">More results</a>');
      }
    });
};

function bento_bdr(query) {
    <%#var dataUrl = $('#path').text();%>
    $.ajax(dataUrl + '&source=bdr', {
      success: function(response) {
        $('#bdr-search i').hide();
        addItemsToBox(response.docs, 'bdr-search');
      }
    });
};

function catalogBentos(query) {
    <%#var dataUrl = $('#path').text();%>
    $.ajax(dataUrl, {
      success: function(response) {
        $('#books i').hide();
        var books = _.filter(response['groups'], function(rset){ return rset['format'] === 'Book'});
        if (books.length > 0) {
          addItemsToBox(books[0]['docs'], 'books');

          //add other formats
          var other = _.filter(response['groups'], function(rset){ return rset['format'] != 'Book'});
          var sortedOther = sortByTopFormat(other);
          addOthers(sortedOther, 4);

          //do the format facet/filter.
          formats = response['formats'];
          addFormats(formats);
        } else {
          //no results from catalog.
          var wcUrl = $('#worldcat-search').attr('href');
          var txt = "<a href=\"" + wcUrl + "\">Worldcat</a>"
          $('#books').append('<h5>No results.  Try ' + txt + '</h5>');
          $('#format-filter').hide();
        };
      }
    });
};

function sortByTopFormat(results) {
    return _.sortBy(results, function(obj){ return -obj.numFound});
}

function addFormats(formats) {
    _.each(formats, function(item) {
        $('#format-list').append('<li>' + item.format + ' (' + item.count + ')</li>');
    });
}

function addItemsToBox( items, box ){
    _.each(items, function(item) {
        catalogLi(item, box)
    });

}


function catalogLi(item, div) {
    $('#' + div + ' ul').append('<li><a href="' + item.link + '">' + item.title + '</a></li>');
}

function addBox( boxID, boxName ){
  var bentos = $('#bentos > div.row').last();
  bentos.append('<div id="'+boxID+'" class="col-md-6"><h3 class="bento-header">'+boxName+'</h3><ul></ul></div>');
}

function addOthers(others, num_others) {
  _.each(others, function(box, index) {
    box.name = box.format
    box.id = "bento-"+index;
    if (index < num_others) {
        addBox(box.id, box.name);
        addItemsToBox( box.docs, box.id);
    };
  });
}


///http://stackoverflow.com/questions/901115/how-can-i-get-query-string-values-in-javascript
function getParameterByName(name) {
    name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
        results = regex.exec(location.search);
    return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
}
</script>
