<div id="easy-find" class="col-md-12">
  <div id="facets" class="col-md-3">
    <div id="format-filter">
      <h2>Format</h2>
      <ul id="format-list" class="unstyled">
        <% if @format_stats.count > 0 %>
          <!-- we've got stats, render them -->
          <% @format_stats.each do |stats| %>
            <li><%= link_to(stats[:format] + " (" + number_with_delimiter(stats[:count]) + ")", catalog_url("", f: {format: [stats[:format]]})) %>
          <% end %>
        <% else %>
          <!-- no stats, render the spinner while we load them via AJAX -->
          <i class="waiting fa fa-circle-o-notch fa-spin fa-1x spinner"></i>
        <% end %>
      </ul>
      <ul id="other-searches" class="list-unstyled">
        <li class="worldcat">
          <a class="large" target="_blank" href="<%= worldcat_search(@query) =%>" id="worldcat-search"><%= image_tag "worldcat_icon.png" %><%= t('blacklight.worldcat.heading')%></a><%= render_info_text t('blacklight.info.sources.worldcat') %>
        <li><a href="<%= bdr_search('') %>">Brown Digital Repository</a>
        <li><a href="<%= website_search(@query) %>"><%= image_tag("brown_logo_15.png") %> Library website</a>
      </ul>
    </div>
  </div> <!-- facets -->

  <div id="welcome" class="col-md-9">
    <div class="well well-lg">

    <!-- This HTML form is very similar to catalog/_search_form but with enought styling
         differences to justify a copy here -->
    <%= form_tag search_action_url, :method => :get, :class => 'search-query-form form-inline clearfix navbar-form' do %>
      <%= render_hash_as_hidden_fields(params_for_search().except(:q, :search_field, :qt, :page, :utf8)) %>

      <h1 style="margin-top: 0px;">Welcome to Josiah</h1>
      <p>Enter keywords to search library resources</p>

      <div class="input-group col-md-9">
        <label for="q2" class="sr-only">Search</label>
        <%= text_field_tag :q, clean_search_term(params[:q]), :placeholder => "", :class => "search_q q form-control", :id => "q2", :autofocus => true %>
        <span class="dropdown input-group-btn">
          <button id="searchButton" class="btn btn-primary search-btn" type="submit">
            <span id="submitText" class="submit-search-text">Search</span>
            <span class="glyphicon glyphicon-search"></span>
          </button>
          <span class="glyphicon glyphicon-search"></span>
          <% if @search_menu == true %>
            <button class="btn btn-primary dropdown-toggle search-btn" style="border-left-color: #d1a742;" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="search">
              <li><a id="searchAll" href="#">Search All</a></li>
              <li><a id="searchCatalog" href="#">Search Catalog Only</a></li>
            </ul>
          <% end %>
        </span>
      </div>

      <p style="padding-top: 10px;">Search for books, articles, periodicals,
        musical scores, maps, theses and dissertations, sound recordings,
        videos, the Brown Digital Repository (BDR), the Library website,
        and more. Learn <%= link_to("about Josiah", easy_about_path()) %>.</p>
    <% end %> <!-- form -->
    </div>
  </div> <!-- welcome -->

  <div id="bentos" class="col-md-9">
    <div class="row">
      <div id="books" class="col-md-6">
        <h3 class="bento-header">
          <i class="fa fa-book"></i>Books
        </h3>
      </div>
      <div id="summon" class="col-md-6">
        <h3 class="bento-header">
          <i class="fa fa-copy"></i>Journal Articles
        </h3>
      </div>
    </div>
    <div class="row added-bentos">
      <hr/>
    </div>
    <div class="row">
      <div id="books" class="col-md-6">
        <h3 class="bento-header">
          <i class="fa fa-film"></i>Video
        </h3>
      </div>
      <div id="summon" class="col-md-6">
        <h3 class="bento-header">
          <i class="fa fa-volume-up"></i>Sound Recording
        </h3>
      </div>
    </div>
    <div class="row added-bentos">
      <hr/>
    </div>
    <div class="row">
      <div id="books" class="col-md-6">
        <h3 class="bento-header">Brown Digital Repository</h3>
      </div>
      <div id="summon" class="col-md-6">
        <h3 class="bento-header">Library website</h3>
      </div>
    </div>
  </div>
</div> <!-- easy-find -->

<%= render_crazy_egg_code %>

<script type="text/javascript">
  $(document).ready(function() {
    $("#searchAll").click(function(e) {
      $("#submitText").text("Search All");
      e.preventDefault();
      // $("#searchButton").click()
    });

    $("#searchCatalog").click(function(e) {
      $("#submitText").text("Search Catalog");
      e.preventDefault();
      // $("#searchButton").click()
    });
  });
</script>
