<p>
<%= @message %>
</p>
<% @documents.each do |document| %>
  <p>
  <% info = document.to_email_info %>
  <%= html_title_line("Title", info.title) %>
  <%= html_title_line("Author", info.author) %>
  <%= html_title_line("Format", info.format) %>
  <%= html_title_line("Language", info.language) %>

  <% info.items.each do |item| %>
    Location: <%= item.location_text %>, Call number: <%= item.callnumber %> <br/>
  <% end %>

  Bookmark: <%= polymorphic_url(document, @url_gen_params) %><br/>
  <% if info.online_url && info.online_url_label %>
    <a href="<%= info.online_url %>"><%= info.online_url_label %></a><br/>
  <% end %>

  </p>
<% end %>
