<style>
    /*
     * These classes are to customize the field selector
     * drop down list with CSS (i.e. without Javascript)
     * Source: https://stackoverflow.com/a/24671889/446681
     */
    .header-select-field {
        --baseFg: dimgray;
        --baseBg: white;
        --accentFg: #c00404;        /* Brown red */
        --accentBg: #ffffff;        /* white */

        font: 400 12px/1.3 sans-serif;
        -webkit-appearance: none;
        appearance: none;
        color: var(--baseFg);
        border: 1px solid #b7b09c;
        line-height: 1;
        outline: 0;
        padding: 0.65em 2.5em 0.55em 0.75em;
        background-color: var(--baseBg);
        background-image: linear-gradient(#b7b09c, #b7b09c),
            linear-gradient(-135deg, transparent 50%, var(--accentBg) 50%),
            linear-gradient(-225deg, transparent 50%, var(--accentBg) 50%),
            linear-gradient(var(--accentBg) 72%, var(--accentFg) 72%);
        background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
        background-size: 1px 100%, 20px 22px, 20px 22px, 20px 100%;
        background-position: right 20px center, right bottom, right bottom, right bottom;
        height: 58px;
    }

    .header-select-field:hover {
        background-image: linear-gradient(var(--accentFg), var(--accentFg)),
            linear-gradient(-135deg, transparent 50%, var(--accentFg) 50%),
            linear-gradient(-225deg, transparent 50%, var(--accentFg) 50%),
            linear-gradient(var(--accentFg) 72%, var(--accentBg) 72%);
    }

    .header-select-field:active {
        background-image: linear-gradient(var(--accentFg), var(--accentFg)),
            linear-gradient(-135deg, transparent 50%, var(--accentFg) 50%),
            linear-gradient(-225deg, transparent 50%, var(--accentFg) 50%),
            linear-gradient(var(--accentFg) 72%, var(--accentBg) 72%);
        color: var(--accentBg);
        border-color: var(--accentFg);
        background-color: var(--accentFg);
    }
</style>

<!-- begin bul_pl_header -->
<div id="bul_pl_header_begin">
    <a href="#bul_pl_header_end" id="bul_pl_skip_header">Skip header</a>
    <div id="bul_pl_header_container">
        <header id="bul_pl_universal_header">
            <div id="bul_pl_brand">
                <a href="https://brown.edu" role="button" aria-label="Brown home"><img id="bul_pl_brown_shield_header_svg" style="height : 75px ; " alt="Brown University" src="https://library.brown.edu/common/images/BUL_logo.svg" /></a>
            </div>
            <div id="bul_pl_logo_text" style="font : 1.5rem CircularStd ; ">
                <a href="https://library.brown.edu/">University Library</a>
            </div>
            <nav id="bul_pl_header_links">
                <div id="bul_pl_header_text">
                    <a href="https://library.brown.edu/libweb/proxy.php">Off-Campus Access</a>
                    <a href="https://library.brown.edu/libweb/my_library_account_login.php">My Library Account</a>
                </div>
                <noscript>
                    <div>
                        <a href="<%= root_url() %>" id="bul_pl_noscript_search">Search</a>
                        <link rel="stylesheet" type="text/css" href="https://library.brown.edu/common/css/bul_patterns_noscript.css" />
                    </div>
                </noscript>
                <div id="bul_pl_header_modal_trigger_container">
                    <!-- these a elements needs an href attribute to keep it in the tab rotation -->
                    <a href="javascript:;" class="bul_pl_header_modal_trigger" role="button" aria-label="Search the Library"> <span id="bul_pl_search_icon">&#9906;</span> </a>
                </div>
                <div id="bul_pl_header_links_icon_separator">
                </div>
                <div id="bul_pl_header_menu_trigger_container">
                    <a href="javascript:;" class="bul_pl_header_menu_trigger" role="button" aria-label="menu links"><noscript><a href="https://library.brown.edu/"></noscript><span id="bul_pl_hamburger_icon">&#9776;</span> <noscript></a></noscript> </a>
                </div>
                <div class="bul_pl_header_modal">
                    <div class="bul_pl_header_modal-content">
                        <span class="bul_pl_header_modal_close-button" role="button">×</span>
                        <div class="bul_pl_header_modal_text">
                            <form method="get" action="<%= search_action_url() %>" name="searchForm" id="searchForm" class="search">
                                <%= render_hash_as_hidden_fields(params_for_search().except(:q, :search_field, :qt, :page, :utf8)) %>
                                <% if @show_search_fields %>
                                    <%= select_tag(:search_field, options_for_select(search_fields, h(params[:search_field])), :title => "Search field", :class=>"header-select-field") %>
                                <% end %>
                                <div id="bul_pl_searchForm_lookfor_container">
                                    <input id="bul_pl_searchForm_lookfor"
                                        type="text"
                                        name="q"
                                        placeholder="Search the Library"
                                        value="<%= clean_search_term(params[:q]) %>"
                                        onfocus="if (value =='Search the Library'){value =''}"
                                        aria-label="Search the Library">
                                    <button id="bul_pl_search_button"><span>Search &rarr;</span> </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="bul_pl_header_menu">
                    <div class="bul_pl_header_menu-content">
                        <span class="bul_pl_header_menu_close-button" role="button">×</span> <img id="bul_pl_brown_shield_menu_svg" style="height : 44px ; " alt="Brown University" src="https://library.brown.edu/common/images/BUL_logo.svg" />
                        <div id="bul_pl_header_menu_text">
                            <ul>
                                <li class="bul_pl_header_show_tiny_screen"><a href="https://search.library.brown.edu/libweb/proxy.php">Search</a></li>
                                <li class="bul_pl_header_show_small_screen"><a href="https://library.brown.edu/libweb/proxy.php">Off-Campus Access</a></li>
                                <li class="bul_pl_header_show_small_screen"><a href="https://library.brown.edu/libweb/my_library_account_login.php">My Library Account</a></li>
                                <li><a href="https://library.brown.edu/borrowing/">Borrow, Request, & Renew</a></li>
                                <li><a href="https://library.brown.edu/info/ajdb">Articles, Journals, & Databases</a></li>
                                <li><a href="https://library.brown.edu/about/specialists.php">Research Help</a></li>
                                <li><a href="https://library.brown.edu/libweb/hours.php">Hours & Locations</a></li>
                                <li><a href="https://brownlibrary.lwcal.com/#view/all">Events</a></li>
                                <li><a href="https://library.brown.edu/libweb/askalib.php">Ask a Question Now</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </nav>

            <script>

                // When the user scrolls down 42px from the top of the document, resize the header's font size

                window.onscroll = function() {
                    if (document.body.scrollTop > 42 || document.documentElement.scrollTop > 42) {
                        document.getElementById("bul_pl_universal_header").style.height = "48px";
                        document.getElementById("bul_pl_universal_header").style.padding = "0px 0px 12px 25px";
                        document.getElementById("bul_pl_brown_shield_header_svg").style.height = "45px";
                        document.getElementById("bul_pl_header_links").style.margin = "2ex 40px 0 0";
                        document.getElementById("bul_pl_logo_text").style.margin = "20px 0px 0px 0px";
                        document.getElementById("bul_pl_logo_text").style.font = "1rem CircularStd";

                    } else {
                        document.getElementById("bul_pl_universal_header").style.height = "85px";
                        document.getElementById("bul_pl_universal_header").style.padding = "12px 0px 12px 25px";
                        document.getElementById("bul_pl_brown_shield_header_svg").style.height = "75px";
                        document.getElementById("bul_pl_header_links").style.margin = "4ex 40px 0 0";
                        document.getElementById("bul_pl_logo_text").style.margin = "33px 0px 0px 43px";
                        document.getElementById("bul_pl_logo_text").style.font = "1.5rem CircularStd";
                    }
                }

                // show/hide the modal/search and side/menu panes

                var bul_pl_header_modal = document.querySelector(".bul_pl_header_modal");
                var bul_pl_header_modal_trigger = document.querySelector(".bul_pl_header_modal_trigger");
                var bul_pl_header_modal_closeButton = document.querySelector(".bul_pl_header_modal_close-button");

                var bul_pl_header_menu = document.querySelector(".bul_pl_header_menu");
                var bul_pl_header_menu_trigger = document.querySelector(".bul_pl_header_menu_trigger");
                var bul_pl_header_menu_closeButton = document.querySelector(".bul_pl_header_menu_close-button");

                function bul_pl_header_toggleModal(e) {
                    // Toggle the search terms on the page if it is rendered.
                    var searchTermsRow = document.getElementById("catalog_search_terms_row");
                    if (searchTermsRow) {
                        searchTermsRow.classList.toggle("hidden");
                    }
                    // Toggle the search toolbar.
                    if (bul_pl_header_modal.classList.contains("bul_pl_header_modal_show")) {
                        bul_pl_header_modal.classList.remove("bul_pl_header_modal_show");
                    } else {
                        bul_pl_header_modal.classList.add("bul_pl_header_modal_show");
                        setTimeout(function(){
                            // focus() only works for visible items. We queue the call
                            // to focus() via setTimeout() to allow the DOM element to
                            // become focusable. Source: https://stackoverflow.com/a/1096938/446681
                            var input = document.getElementById("bul_pl_searchForm_lookfor");
                            input.focus();
                            // Force cursor to be at the end of the text.
                            // Source: https://stackoverflow.com/a/2345915/446681
                            var val = input.value;
                            input.value = "";
                            input.value = val;
                        }, 100);
                    }
                }

                function bul_pl_header_toggleMenu() {
                    bul_pl_header_menu.classList.toggle("bul_pl_header_menu_show");
                }

                bul_pl_header_modal_trigger.addEventListener("click", bul_pl_header_toggleModal);
                bul_pl_header_modal_closeButton.addEventListener("click", bul_pl_header_toggleModal);

                bul_pl_header_menu_trigger.addEventListener("click", bul_pl_header_toggleMenu);
                bul_pl_header_menu_closeButton.addEventListener("click", bul_pl_header_toggleMenu);
            </script>
        </header>
        <div id="bul_pl_header_end">
        </div>
    </div>
</div>
<!-- end bul_pl_header -->

<!-- begin bul_pl_subheader -->
<div id='bul_pl_subheader' style='background-color : #eed4aa ; ' >
    <div id='bul_pl_subheader_site_title'>
    <a href='<%= root_url() %>' style='color : var(--brown_brown) ;'>Josiah Search</a>
    <a href='subheader_end' id='bul_pl_skip_subheader'>Skip 10 subheader links</a>
    </div>
    <nav id='bul_pl_subheader_Josiah_Search_menu' class='bul_pl_subheader_nav_menu'>
    <div id='bul_pl_subheader_site_links'>
        <div id='bul_pl_subheader_trigram'>
        <label for='bul_pl_subheader_trigram_checkbox' class='bul_pl_subheader_trigram_toggle'>
        &#9776;
        </label>
        <input type='checkbox' id='bul_pl_subheader_trigram_checkbox' class='bul_pl_subheader_trigram_toggle'>
        <ul class='bul_pl_subheader_trigram_menu_contents'>
            <li class='bul_pl_subheader_single_link'><a href='<%= catalog_index_path(q: @query) %>'>Catalog</a></li>
            <li class='bul_pl_subheader_single_link'><a href='<%= reserves_search_path() %>' title='In-Library Reserves'>Reserves</a></li>
            <li class='bul_pl_subheader_single_link'><a href='<%= google_form_url() %>' target='_blank'>Feedback</a></li>
            <li class='bul_pl_subheader_single_link'><a href='<%= bookmarks_path() %>'>Bookmarks</a></li>
            <li class='bul_pl_subheader_single_link'><a href='<%= saved_searches_path() %>'>Saved Searches</a></li>
            <li class='bul_pl_subheader_single_link'><a href='<%= search_history_path() %>'>My History</a></li>
            <li class='bul_pl_subheader_single_link'><a href='<%= classic_josiah_link(@classic_bib) %>' target='_blank'>Classic Josiah</a></li>
            <li class='bul_pl_subheader_single_link'><a href='http://library.brown.edu/libweb/askalib.php'>Help</a></li>
            <li class='bul_pl_subheader_links_trigger'>
            <a href='#' onclick='javascript:void(0)'>Advanced Search&nbsp;&nbsp;&dtrif;</a>
            <div class='bul_pl_subheader_sublinks_container'>
                <ul class='bul_pl_subheader_sublinks'>
                <li><a href='<%= advanced_search_path(params) %>'>Library Catalog</a></li>
                <li><a href='<%= Eds.native_advanced_url(@query || "", @trusted_ip || false) %>'>Journal Articles</a></li>
                </ul>
            </div>
            </li>
        </ul>
        </div>
        <ul id='bul_pl_subheader_links'>
        <li class='bul_pl_subheader_single_link'><a href='<%= catalog_index_path(q: @query) %>'>Catalog</a></li>
        <li class='bul_pl_subheader_single_link'><a href='<%= reserves_search_path() %>' title='In-Library Reserves'>Reserves</a></li>
        <li class='bul_pl_subheader_single_link'><a href='<%= google_form_url() %>' target='_blank'>Feedback</a></li>
        <li class='bul_pl_subheader_single_link'><a href='<%= bookmarks_path() %>'>Bookmarks</a></li>
        <li class='bul_pl_subheader_single_link'><a href='<%= saved_searches_path() %>'>Saved Searches</a></li>
        <li class='bul_pl_subheader_single_link'><a href='<%= search_history_path() %>'>My History</a></li>
        <li class='bul_pl_subheader_single_link'><a href='<%= classic_josiah_link(@classic_bib) %>' target='_blank'>Classic Josiah</a></li>
        <li class='bul_pl_subheader_single_link'><a href='http://library.brown.edu/libweb/askalib.php'>Help</a></li>
        <li class='bul_pl_subheader_links_trigger'>
            <a href='#' onclick='javascript:void(0)'>Advanced Search&nbsp;&nbsp;&dtrif;</a>
            <div class='bul_pl_subheader_sublinks_container'>
            <ul class='bul_pl_subheader_sublinks'>
                <li><a href='<%= advanced_search_path(params) %>'>Library Catalog</a></li>
                <li><a href='<%= Eds.native_advanced_url(@query || "", @trusted_ip || false) %>'>Journal Articles</a></li>
            </ul>
            </div>
        </li>
        </ul>
    </div>
    </nav>
</div>
<!-- end bul_pl_subheader -->