{{#if this.other}}
    <h3 class="bento-header">{{this.box}}</h3>
{{/if}}
<ul class="list-unstyled">
    {{#each docs}}
    <li>
        <a href="{{this.link}}">{{this.title_display}}</a>
        <br/>
        {{#if this.author_display}}{{this.author_display}}.&nbsp;{{/if}}{{#if this.pub_date }}{{this.pub_date}}{{/if}}
    </li>
    {{/each}}
</ul>
<div class="more center-block">
    <a href="{{this.more}}">View {{this.total}} results</a>
</div>
