<ul class="list-unstyled">
    {{#each docs}}
    <li>
        <a href="{{this.link}}" target="_esarticles">{{truncate this.title ../max_title_length}}</a>
        <br/>
        <small>
          {{#if this.author }}{{this.author}}.&nbsp;{{/if}}
          {{#if this.year }}{{this.year}}{{/if}}
          <br/>
          {{#if this.venue }}<em>{{this.venue}}</em>.&nbsp;{{/if}}
          {{#if this.volume }}Vol: {{ this.volume }}.&nbsp;{{/if}}
          {{#if this.issue }}Issue: {{ this.issue }}&nbsp;{{/if}}
          {{#if this.start }}pg. {{this.start}}.{{/if}}
          {{#if this.database }}({{this.database}}){{/if}}
      </small>
    </li>
    {{/each}}
</ul>
<div class="more center-block">
    <a href="{{this.more}}">View {{this.total}} journal articles &raquo;</a>
    {{#if this.advanced}}
      <br/>
      or use the <a href="{{this.advanced}}">advanced journal search</a>
    {{/if}}
    {{#if this.raw}}
      <br/>
      <a href="{{this.raw}}" target="_blank">Raw JSON</a>
    {{/if}}
</div>
