<style>
    table {
        border-collapse: separate;
        border-spacing: 50px 0;
    }

    td {
        vertical-align: top
    }
</style>

<h2>Best Bets</h2>
<h3><%= @data.name %></h3>
<div class="container">
    <form class="" role="edit" method="POST" action="<%= best_bets_save_url(id: @data.id ) %>">
        <div class="form-group">

            <label class="" id="name_label">Name</label>
            <input type="text" class="form-control" placeholder="Name" aria-describedby="name_label"
                id="name" name="name" value="<%= @data.name %>">

            <label class="" id="url_label">URL</label>
            <input type="text" class="form-control" placeholder="URL" aria-describedby="url_label"
                id="url" name="url" value="<%= @data.url %>">

            <label class="" id="desc_label">Description</label>
            <textarea class="form-control" rows="8" placeholder="Description" aria-describedby="desc_label"
                id="description" name="description" ><%= @data.description %></textarea>

            <div id="search_terms_box">
                <label class="" id="term_label">Search Terms</label>
                <% @data.terms.each do |term| %>
                    <input type="text" class="form-control" placeholder="search term" aria-describedby="term_label"
                    id="term_id_<%= term.id %>" name="term_id_<%= term.id %>" value="<%= term.term %>">
                <% end %>
            </div>
            <a href="#" id="add_search_term" type="button" title="Add another search term"
                class="btn btn-default">+</a>

        </div>

        <% if @edit_user %>
            <button type="submit" class="btn btn-info" title="Save changes to this BestBet">Save</button>
            <button type="reset" id="cancel_edit" class="btn btn" title="Don't save changes to this BestBet">Cancel</button>
            <button style="float: right;" type="reset" id="delete_record" class="btn btn-danger" title="Delete this BestBet">Delete</button>
        <% else %>
            <p>Must <a href="https://search.library.brown.edu/users/auth/shibboleth">login</a> in order to edit this information.</p>
        <% end %>
    </form>
</div>

<script>
$(document).ready(function() {

  var next_id = 0;
  $("#add_search_term").on('click', function(event) {
    event.preventDefault();
    // Add a new input box for a new search term
    next_id += 1;
    var new_term_id = "new_term_id_" + next_id.toString(10);
    var html = '<input type="text" class="form-control" placeholder="search term" id="id_placeholder" name="id_placeholder" >';
    html = html.replace(/id_placeholder/g, new_term_id);
    $("#search_terms_box").append(html);
  });

  $("#cancel_edit").on('click', function(event) {
    event.preventDefault();
    var listUrl = "<%= best_bets_index_url() %>";
    if (<%= @data.id %> != 0) {
        listUrl += "#" + <%= @data.id.to_s %>;
    }
    window.location.href = listUrl;
  });

  $("#delete_record").on('click', function(event) {
    event.preventDefault();
    if (confirm("Are you sure you want to delete this BestBet?")) {
        var deleteUrl = "<%= best_bets_delete_url(id: @data.id) %>";
        var listUrl = "<%= best_bets_index_url() %>";
        req = $.ajax({url: deleteUrl, method: "POST"});
        req.success(function(x) {
            console.log("Deleted OK")
            window.location.href = listUrl;
        });
        req.error(function(x) {
            console.log("Deleted ERROR")
            alert("Could not delete this BestBet.");
        });
    }
  });
});
</script>
