<style>
    table {
        border-collapse: separate;
    }

	 tr:nth-child(even){
		background: #f0f6f9;
	}

    th {
        vertical-align: top;
        padding-left: 10px;
        font-weight: bold;
        font-size: large;
        border-bottom-style: solid;
        border-bottom-width: 2px;
        border-bottom-color: black;
    }

    td {
        vertical-align: top;
        padding-left: 10px;
        padding-top: 10px;
    }
</style>

<h2>Best Bets</h2>
<div style="align:right">
    <% if @edit_user %>
        <a href="<%= best_bets_index_url(format: 'tsv') %>"
            type="button"
            title="Download data in tab-separated format (TSV)"
            class="btn btn-default"
            style="float: right;">
            <span class="glyphicon glyphicon-download-alt"></span></a>
    <% else %>
        <a href="https://search.library.brown.edu/users/auth/shibboleth?target=<%= best_bets_index_url(format: 'tsv') %>"
            type="button"
            title="Download data in tab-separated format (TSV)"
            class="btn btn-default"
            style="float: right;">
            <span class="glyphicon glyphicon-download-alt"></span></a>
    <% end %>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12" >
            <table>
                <tr>
                    <th>#</th>
                    <th>&nbsp;</th>
                    <th>Name</th>
                    <th>Description (and search terms)</th>
                </tr>
                <% @data.each_with_index do |bb, i| %>
                    <tr>
                        <td><a id="<%= bb[:id] %>" name="<%= bb[:id] %>"></a><%= i + 1 %></td>
                        <td>
                            <% if @edit_user %>
                                <a href="<%= best_bets_edit_url(id: bb[:id]) %>" type="button" title="Make changes to this BestBet" class="btn btn-default btn-xs">Edit</a>
                            <% else %>
                                <a href="https://search.library.brown.edu/users/auth/shibboleth?target=<%= best_bets_edit_url(id: bb[:id]) %>" type="button" title="Make changes to this BestBet" class="btn btn-default btn-xs">Edit</a>
                            <% end %>
                        </td>
                        <td><a href="<%= bb[:url] %>" target="_blank" title="Visit this site"><%= bb[:name] %></a></td>
                        <td>
                            <%= bb[:description] %><br/>
                            <% if bb[:terms].count == 0 %>
                                <span><i>(No search terms defined)</i></span>
                            <% else %>
                                <i>Search terms</i>
                                <ul>
                                <% bb[:terms].each do |term| %>
                                    <li><a href="<%= root_url() %>?q=<%= term %>"
                                    title="Test this search term"><%= term %></a>
                                <% end %>
                                </ul>
                            <% end %>
                        </td>
                    </tr>
                <% end %>
            </table>
        </div>
    </div>
</div>