<span class="gbs thumbnail pull-right">
    <img class="cover-image center-block <%= css_class %> hide" alt="" data-isbn="<%= isbn %>" data-oclc="<%= oclc %>" data-lccn="<%= lccn %>">
    <span class="preview-info">
        <a href="#" class="hide"><%= image_tag "gbs_preview_button.gif", alt:"" %></a>
    </span>

</span>