<%# default partial to display solr document fields in catalog index view -%>
<%# Statement of responsiblity and publication date. -%>
<%= index_item_subheading document %>
<div class="title-subheading">
  <%= icon(document['format'], css_class="index-format-icon") %><%= document['format'] %>
</div>

<dl class="document-metadata dl-horizontal dl-invert">

    <% if document['isbn_t'] %>
            <span class="thumbnail pull-right hide">
                <img class="cover-image hide ISBN<%= document['isbn_t'][0] %>" data-isbn="ISBN<%= document['isbn_t'][0] %>"/>
            </span>
    <% elsif document['id'].start_with?("bdr:") %>
      <span class="thumbnail pull-right">
          <img class="cover-image" src="https://repository.library.brown.edu/viewers/image/thumbnail/<%= document['id'] %>"/>
      </span>
    <% end %>

  <% index_fields(document).each do |solr_fname, field| -%>
    <% if should_render_index_field? document, field %>
	    <div class="blacklight-<%= solr_fname.parameterize %>"><%= render_index_field_value document, :field => solr_fname %></div>
    <% end -%>
  <% end -%>


  <%# Check for online access urls. %>
  <% if document.online_availability.count > 0 %>
    <div class="index-online">
        <ul class="list-unstyled">
        <% document.online_availability.each do |online| -%>
            <li><span class="label label-info">Online</span><a href="<%= online.url %>"><%= online.label %></a></li>
        <% end -%>
        </ul>
    </div>
  <% end %>

</dl>

<div class="hidden summary-availability" data-availability="<%= document['id'] %>"></div>

<span class="Z3988" title="<%= document.openurl_ctx_kev(document_partial_name(document)) %>"></span>
