<%# default partial to display solr document fields in catalog index view -%>
<%# Statement of responsiblity and publication date. -%>
<%= index_item_subheading document %>

<dl class="document-metadata dl-horizontal dl-invert">

    <% if document['isbn_t'] %>
            <span class="thumbnail pull-right">
                <img class="cover-image ISBN<%= document['isbn_t'][0] %>" data-isbn="ISBN<%= document['isbn_t'][0] %>"/>
            </span>
    <% end %>

  <% index_fields(document).each do |solr_fname, field| -%>
    <% if should_render_index_field? document, field %>
	    <dt class="blacklight-<%= solr_fname.parameterize %>"><%= render_index_field_label document, :field => solr_fname %></dt>
	    <dd class="blacklight-<%= solr_fname.parameterize %>"><%= render_index_field_value document, :field => solr_fname %></dd>
    <% end -%>
  <% end -%>


</dl>
