<h2 class="sr-only top-content-title"><%= t('blacklight.search.search_results_header') %></h2>

<% @page_title = t('blacklight.search.title', :application_name => application_name) %>


<% content_for(:head) do -%>
  <%= render_opensearch_response_metadata %>
  <%= auto_discovery_link_tag(:rss, url_for(params.merge(:format => 'rss')), :title => t('blacklight.search.rss_feed') ) %>
  <%= auto_discovery_link_tag(:atom, url_for(params.merge(:format => 'atom')), :title => t('blacklight.search.atom_feed') ) %>
  <%= javascript_include_tag 'catalog_results_availability' %>
<% end -%>


<%= render 'search_header' %>

<h2 class="sr-only"><%= t('blacklight.search.search_results') %></h2>

<%- if @response.empty? %>
  <%= render "zero_results" %>
<%- elsif render_grouped_response? %>
  <%= render_grouped_document_index %>
<%- else %>
  <%= render_document_index %>
<%- end %>

<%= render 'results_pagination' %>

<!-- Used in Javascript to determine catalog record path. -->
<span class="hidden" id="record-path"><%= catalog_record_url %></span>

<script type="text/javascript">
window.availabilityEZB = <%= ENV["AVAILABILITY_EZB"] == "true" %>;

// Notice that we use the author_display instead of statement_of_responsibility
// because we do not have the MARC data for search results.
var bibData;
var bibsData = [];
<% @document_list.each do |document| %>
  bibData = {
    id: "<%= document.id %>",
    title: "<%= document[:title_display] %>",
    format: "<%= document[:format] %>",
    author: "<%= document[:author_display] %>",
    publisher: "<%= document.marc_imprint() %>",
    itemsMultiType: "TBD",
    easyBorrowUrl: null,
    showAvailability: true,
    bookServicesUrl: "<%= document.book_services_url %>"
  };
  bibsData.push(bibData);
<% end %>
</script>
