<%# default partial to display solr document fields in catalog show view -%>
<%= render_cover_image document %>
<%# Statement of responsiblity and publication date. -%>
<%= item_subheading marc_display(document, 'statement_of_responsibility') %>
<%= item_subheading marc_display(document, 'imprint') %>

<% if document.full_abstract.count > 0 %>
    <div class="abstract">
      <%= document.full_abstract[0] %>
      <% if document.full_abstract.count > 1 %>
        <a id="abstract_show_more" href="" class="label label-info">more</a>
        <div id="abstract_more" class="hidden">
        <% document.full_abstract[1..-1].each do |abstract| %>
          <br/>
          <%= abstract %>
        <% end %>
        </div>

        <script>
        $("#abstract_show_more").on("click", function(e) {
          e.preventDefault();
          $(this).addClass("hidden");
          $("#abstract_more").removeClass("hidden");
        });
        </script>
      <% end %>
    </div> <!-- abstract -->
<% end %>


<% if @document.online_availability.count > 0 %>
  <div id="online_resources">
    <h4>Online Resources</h4>
    <ul>
    <% @document.online_availability.each do |online| -%>
        <li><a href="<%= online.url %>"><%= online.label %></a></li>
    <% end -%>
    </ul>
    </div>
<% end %>

<div id="availability">
    <script>
        var availabilityService = '<%= availability_service_url %>';
    </script>
    <!-- Populated by `catalog_record_availability` <script> above. -->
</div>

<script>
      // Called after retrieving availability information
      // to link up each item with their bookplate.
      function item_info(barcode) {
        <% @document.item_data.select{|x| x.barcode != nil }.each do |item| %>
          if (barcode === "<%= item.barcode %>") {
            return {url: "<%= item.bookplate_url %>", display: "<%= item.bookplate_display.gsub('"', '\"').html_safe %>"};
          }
        <% end %>
        return null;
      }
</script>

<hr/>
<h4>Details</h4>
<dl class="dl-horizontal  dl-invert record-page">
  <% document_show_fields(document).each do |solr_fname, field| -%>
    <% if should_render_show_field? document, field %>
        <% if field.linked_fielded_search %>
            <dt class="blacklight-<%= solr_fname.parameterize %>">
                <% if solr_fname == "author_addl_display" && document.bdr_record? %>
                  Contributors:
                <% else %>
                  <%= render_document_show_field_label document, :field => solr_fname %>
                <% end %>
            </dt>
            <% if field.multi %>
                <% document[field.field].each do |fvalue| %>
                    <dd class="blacklight-<%= solr_fname.parameterize %>"><%= fielded_search(fvalue, field.linked_fielded_search) %></dd>
                <% end -%>
            <% else %>
                <dd class="blacklight-<%= solr_fname.parameterize %>">
                    <%= fielded_search(document[field.field], field.linked_fielded_search) %>
                </dd>
            <% end -%>
        <% else %>
            <dt class="blacklight-<%= solr_fname.parameterize %>"><%= render_document_show_field_label document, :field => solr_fname %></dt>
            <dd class="blacklight-<%= solr_fname.parameterize %>">
                <% if field.show_icon %>
                    <%= icon(document[field.field]) %>
                <% end -%>
                <%= render_document_show_field_value document, :field => solr_fname %>
            </dd>
        <% end -%>
    <% elsif field.hot_link %>
        <% values = hot_link(document.send(field.doc_key), field.index) %>
        <% if values %>
            <dt class="blacklight-<%= solr_fname.parameterize %>"><%= render_document_show_field_label document, :field => solr_fname %></dt>
            <% values.each do |anchor| -%>
                <dd><%= anchor %></dd>
            <% end -%>
        <% end -%>
    <% end -%>
  <% end -%>

  <%# Calls method with notes config will display nothing if note doesn't
  exist or fetching for MARC fails -%>
  <%= render_record_notes document %>

  <% if document.has_uniform_titles? %>
    <dt class="blacklight-uniform_title_display">Uniform Title:</dt>
      <% document.get_uniform_titles.each do |uniform_title| %>
        <dd class="blacklight-uniform_titles">
          <ul class="biglink">
          <% uniform_title['title'].each do |subfield| %>
              <li><%= uniform_title_author_display_search(subfield['query'], uniform_title['author'], subfield['display']) %></li>
          <% end %>
          </ul>
        </dd>
      <% end %>
  <% end %>

  <% if document.has_related_works? %>
    <dt class="blacklight-related_works_display">Related Work:</dt>
      <% document.get_related_works.each do |related_work| %>
        <dd class="blacklight-related_works">
          <ul class="biglink">
          <% if related_work['author'] && !related_work['author'].empty? %>
              <% related_work['title'][0]['display'] = "#{related_work['author']}. #{related_work['title'][0]['display']}" %>
          <% end %>
          <% related_work['title'].each do |subfield| %>
              <li><%= uniform_title_author_display_search(subfield['query'], related_work['author'], subfield['display']) %></li>
          <% end %>
          </ul>
        </dd>
      <% end %>
  <% end %>

</dl>

<% if document.has_toc? %>
  <table>
    <tr><th colspan="7" style="text-align:center">Table of Contents</th></tr>
  <% document.get_toc.chapters.each do |chapter|  %>
    <tr>
      <% if chapter['indent'] == "1" %>
        <td style="padding-left:10px; padding-right:10px"><strong><%= chapter['label'] %></strong></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      <% elsif chapter['indent'] == "2" %>
        <td>&nbsp;</td>
        <td style="padding-left:10px; padding-right:10px"><strong><%= chapter['label'] %></strong></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      <% elsif chapter['indent'] == "3" %>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td style="padding-left:10px; padding-right:10px"><strong><%= chapter['label'] %></strong></td>
        <td>&nbsp;</td>
      <% else %>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td style="padding-left:10px; padding-right:10px"><strong><%= chapter['label'] %></strong></td>
      <% end %>
      <td style="padding-left:10px; padding-right:10px"><%= chapter['title'] %></td>
      <td style="padding-left:10px; padding-right:10px">
      <% chapter['authors'].each do |author| %>
          <a href="<%= url_for(:controller => 'catalog', :action => 'index', :q => author, :search_field => 'author') %>"><%= author %></a><%= ', ' unless author == chapter['authors'].last %>
      <% end %>
      </td>
      <td style="padding-left:10px; padding-right:10px"><%= chapter['page'] %></td>
    </tr>
  <% end  %>
  </table>
<% end %>

<script type="text/javascript">
$(".biglink li").hover(function() {
  $(this).prevAll().addClass("progressive-link");
  $(this).addClass("progressive-link");
}, function() {
  $(this).prevAll().removeClass("progressive-link");
  $(this).removeClass("progressive-link");
});
</script>

<!-- Virtual browse -->
<style>
  .stackview {
    height: auto;
  }
  .stackview .ribbon {
    position: absolute;
    visibility:hidden;
  }
</style>
<div>
  <h4 id="also-on-shelf" class="hidden">More Like This</h4>
  <p id="also-on-shelf-none" class="hidden">We are sorry, we don't have information about other items like this.</p>
  <div id="basic-stack"></div>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <span id="firstBook" class="hidden"></span>
  <span id="firstBookNorm" class="hidden"></span>
  <span id="lastBook" class="hidden"></span>
  <span id="lastBookNorm" class="hidden"></span>
</div>
