<%# default partial to display solr document fields in catalog show view -%>

<%= render_cover_image document %>

<% if document['abstract_display'] %>
    <div class="abstract">
        <%= document['abstract_display'][0] %>
    </div>
<% end %>


<%# Check for access urls.  -%>
<% if has_access_urls(document) == true %>
    <hr/>
    <h4>Availability</h4>
        <ul>
        <% access_urls(document).each do |access| -%>
            <%= access['url'] %>
            <li><a href="<%= access[:url] %>"><%= access[:label] %></a></li>
        <% end -%>
        </ul>
<% end %>

<div id="availability">
    <script>
        var availabilityService = '<%= availability_service_url %>';
    </script>
    <!-- Populated by `catalog_record_availability` <script> above. -->
</div>


<hr/>
<h4>Details</h4>
<dl class="dl-horizontal  dl-invert record-page">
  <% document_show_fields(document).each do |solr_fname, field| -%>
    <% if should_render_show_field? document, field %>
	    <dt class="blacklight-<%= solr_fname.parameterize %>"><%= render_document_show_field_label document, :field => solr_fname %></dt>
	    <dd class="blacklight-<%= solr_fname.parameterize %>"><%= render_document_show_field_value document, :field => solr_fname %></dd>
    <% end -%>
  <% end -%>
</dl>



