<div id="content" class="col-md-9 show-document">

  <%= render 'previous_next_doc' %>

<% @page_title = t('blacklight.search.show.title', :document_title => document_show_html_title, :application_name => application_name).html_safe -%>
<% content_for(:head) { render_link_rel_alternates } -%>
<%# this should be in a partial -%>

<div id="document" class="document <%= render_document_class %>" itemscope  itemtype="<%= @document.itemtype %>">

  <script type="text/javascript">

    var bib_id = null;
    var all_items_html = '';

    $(document).ready(
      function(){
        bib_id = getBibId();
        api_url = "http://library.brown.edu/services/availability/id/" + bib_id + "/?callback=?";
        $.getJSON( api_url, addStatus );
      }
    );

    function getBibId() {
      /* Pulls bib_id from DOM.
       * Called on doc.ready */
      bib_id_div_name = $( "div[id^='doc_']" )[0].id;
      bib_id_start = bib_id_div_name.search( '_' ) + 1;
      bib_id = bib_id_div_name.substring( bib_id_start );
      return bib_id;
    }

    function addStatus( json_output ) {
      /* Parses api data & updates DOM.
       * Called on doc.ready */
      // jstring = JSON.stringify(json_output, null, 2);
      // $("#availability").append( '<pre>' + jstring + '</pre>' );
      prepareHtml( json_output.items );
    }

    function prepareHtml( items ) {
      opening_div = '<div id="availability_manual">' + '\n';
      rule = '<hr/>' + '\n';
      title = '<h5 itemprop="copies">Copy Information</h5>' + '\n';
      josiah_dl = [
        '<dl class="dl-horizontal  dl-invert">',
          '<dt class="blacklight-josiah_link]">Josiah link:</dt>',
          '<dd class="blacklight-josiah_link">',
            '<a hef="https://josiah.brown.edu/record=' + bib_id + '">',
            'https://josiah.brown.edu/record=' + bib_id,
            '</a>',
          '</dd>',
        '</dl>'
        ].join('\n');
        items.forEach( makeItemHtml );

      html = opening_div + rule + title + josiah_dl + all_items_html + '</div>';
      // alert( html );
      $("#availability").append( html )
    }

    function makeItemHtml( item ) {
      item_html = [
        '<dl class="dl-horizontal  dl-invert">',
          '<dt class="blacklight-callnumber_display">Call Number:</dt>',
          '<dd class="blacklight-callnumber_display">' + item.callnumber + '</dd>',
          '<dt class="blacklight-location_display">Location:</dt>',
          '<dd class="blacklight-location_display">' + item.location + '</dd>',
          '<dt class="blacklight-availability">Availability:</dt>',
          '<dd class="blacklight-availability">' + item.availability + '</dd>',
        '</dl>'
      ].join('\n');
      all_items_html = all_items_html + item_html;
    }

  </script>


  <div id="template-container"></div>

  <div id="doc_<%= @document.id.to_s.parameterize %>">

    <% # bookmark/folder functions -%>
    <%= render_document_partials @document, blacklight_config.view_config(:show).partials %>

  </div>

  <div id="availability"></div>

  <!--
  <div id="availability_manual">
    <hr/>
    <h5 itemprop="copies">Copy information</h5>
    <dl class="dl-horizontal  dl-invert">
          <dt class="blacklight-josiah_link">Josiah link:</dt>
          <dd class="blacklight-josiah_link"><a hef="https://josiah.brown.edu/record=b1234549">https://josiah.brown.edu/record=b1234549</a></dd>
    </dl>
    <dl class="dl-horizontal  dl-invert">
          <dt class="blacklight-callnumber_display">Call Number:</dt>
          <dd class="blacklight-callnumber_display">PS3557.I3415 S54 2013</dd>

          <dt class="blacklight-location_display">Location:</dt>
          <dd class="blacklight-location_display">ROCK</dd>

          <dt class="blacklight-availability">Availability:</dt>
          <dd class="blacklight-availability">MISSING</dd>
    </dl>
    <dl class="dl-horizontal  dl-invert">
          <dt class="blacklight-callnumber_display">Call Number:</dt>
          <dd class="blacklight-callnumber_display">PS3557.I3415 S54 2013</dd>

          <dt class="blacklight-location_display">Location:</dt>
          <dd class="blacklight-location_display">ROCK</dd>

          <dt class="blacklight-availability">Availability:</dt>
          <dd class="blacklight-availability">AVAILABLE</dd>
    </dl>
  </div>
  -->

</div>



  <% if @document.respond_to?(:export_as_openurl_ctx_kev) %>
    <!--
         // COinS, for Zotero among others.
         // This document_partial_name(@document) business is not quite right,
         // but has been there for a while.
    -->
    <span class="Z3988" title="<%= @document.export_as_openurl_ctx_kev(document_partial_name(@document)) %>"></span>
  <% end %>

</div>

<div id="sidebar" class="col-md-3">
   <%= render_document_sidebar_partial %>
</div>
