<style>
  .covid-info-box {
    background-color: #f0f2f3;
    text-align: center;
    border: 3px solid #ffc72c;
    padding-top: 7px;
  }
  .covid-info-box>p {
    font-size: 20px;
  }
</style>

<div id="content" class="col-md-9 show-document">
  <%= render 'previous_next_doc' %>

  <% @page_title = t('blacklight.search.show.title', :document_title => document_show_html_title, :application_name => application_name).html_safe -%>
  <% content_for(:head) do -%>
    <%= render_link_rel_alternates %>
    <%= javascript_include_tag 'catalog_record_availability' %>
  <% end -%>

  <div id="document" class="document <%= render_document_class %>" itemscope  itemtype="<%= @document.itemtype %>">
    <div id="doc_<%= @document.id.to_s.parameterize %>">
      <% if @is_covid %>
        <div class="covid-info-box">
          <p>The library is providing <a href="https://blogs.brown.edu/libnews/resume-service/">limited, contactless circulation</a>.</p>
        </div>
      <% end %>
      <% # bookmark/folder functions -%>
      <%= render_document_partials @document, blacklight_config.view_config(:show).partials %>
    </div>
  </div>

  <% if @document.respond_to?(:export_as_openurl_ctx_kev) %>
    <!--
         // COinS, for Zotero among others.
         // This document_partial_name(@document) business is not quite right,
         // but has been there for a while.
    -->
    <span class="Z3988" title="<%= @document.export_as_openurl_ctx_kev(document_partial_name(@document)) %>"></span>
  <% end %>

</div>

<div id="sidebar" class="col-md-3">
   <%= render_document_sidebar_partial %>
</div>

<div id="requestInfoModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Request Options</h4>
      </div>
      <div class="modal-body">
        <ul>
        <li><b>Request Scan</b> allows you to request a section of a book to be scanned and
        the resulting PDF will be emailed to you.
        <li><b>Request Item</b> allows you to request the physical item for pickup.
        Click here for more information on <a target="_blank" href="https://blogs.brown.edu/libnews/resume-service/">contactless</a> pickup.
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div id="cdlInfoModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Online Reserves</h4>
      </div>
      <div class="modal-body">
        <p>This item can be requested for online access for up to 3 hours.</p>
        <p>There are only a limited number of licenses for this item,
        if no licenses are available when you make your request, your request
        will be queued up and you will be emailed when access is available.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>