<style>
  .covid-info-box {
    background-color: #f9f947;
    text-align: center;
    border: 1px solid black;
    padding-top: 7px;
  }
  .covid-info-box>p {
    font-size: 20px;
  }
</style>

<div id="content" class="col-md-9 show-document">
  <%= render 'previous_next_doc' %>

  <% @page_title = t('blacklight.search.show.title', :document_title => document_show_html_title, :application_name => application_name).html_safe -%>
  <% content_for(:head) do -%>
    <%= render_link_rel_alternates %>
    <%= javascript_include_tag 'catalog_record_availability' %>
  <% end -%>

  <div id="document" class="document <%= render_document_class %>" itemscope  itemtype="<%= @document.itemtype %>">
    <div id="doc_<%= @document.id.to_s.parameterize %>">
      <% if @is_covid %>
        <div class="covid-info-box">
          <p>The library is currently closed. <a id="contact-us" href="#" data-toggle="modal" data-target="#covidModal">Contact us</a> for help with this item.</p>
        </div>
      <% end %>
      <% # bookmark/folder functions -%>
      <%= render_document_partials @document, blacklight_config.view_config(:show).partials %>
    </div>
  </div>

  <% if @document.respond_to?(:export_as_openurl_ctx_kev) %>
    <!--
         // COinS, for Zotero among others.
         // This document_partial_name(@document) business is not quite right,
         // but has been there for a while.
    -->
    <span class="Z3988" title="<%= @document.export_as_openurl_ctx_kev(document_partial_name(@document)) %>"></span>
  <% end %>

</div>

<div id="sidebar" class="col-md-3">
   <%= render_document_sidebar_partial %>
</div>

<div id="covidModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Availability during COVID-19</h4>
      </div>
      <div class="modal-body">
        <p>Because onsite access to the libraries is not possible,
        we are not able to retrieve or scan material at this time;
        however, we can help you locate digital material that is
        comparable to physical items.</p>

        <p>Contact us at
        <a href="mailto:rock@brown.edu?subject=Help+finding+Josiah+record+<%= @document.id %>&body=Link+to+record+https://search.library.brown.edu/catalog/<%= @document.id %>">rock@brown.edu</a>.
        </p>

        <p>For Special Collections you can reach us at
        <a href="mailto:hay@brown.edu?subject=Help+finding+Josiah+record+<%= @document.id %>&body=Link+to+record+https://search.library.brown.edu/catalog/<%= @document.id %>"">hay@brown.edu</a>.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
