<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<head>
  <title>Browse the Stacks</title>
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag 'browse_index' %>

  <style>
    .noscrollbars {
      overflow: hidden;
    }

    .left-panel {
      margin-top: 60px;
      padding-left: 40px;
    }

    .stackview .ribbon {
      position: absolute;
      visibility: hidden;
    }

    .active-item {
      margin-left: 20px;
    }

    .previewPanel {
      height: 40%;
      border-color: #7a1313; /* dark red */
      border-width: 5px;
      border-style: solid;
      background-color: beige;
      margin-top: 60px;
      margin-right: 60px;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 20px;
    }

    .banner {
      font-size: 39px;
	    font-family: Futura,Trebuchet MS,Arial,sans-serif;
    }

    .banner2 {
      font-family: Futura,Trebuchet MS,Arial,sans-serif;
      font-size: larger;
    }

  </style>
</head>

<body>
  <div class="row noscrollbars">

    <!-- left panel: general info -->
    <div class="col-md-2 noscrollbars left-panel" style="height: 100%;">
      <img src="https://www.brown.edu/sites/default/themes/pawtuxet/img/brown-logo.png"/>
      <h2 class="banner">StackLife</h2>
      <div class="banner2">
        <p>Welcome to the stacks</p>
        <p>Use this page to explore what items (books, DVDs, serials) are
          on the shelves of the Library.</p>
      </div>
      <div style="position: fixed; bottom: 0;">
        <p><%= link_to("About", browse_about_path) %></p>
      </div>
    </div>

    <!-- middle panel: virtual stack -->
    <div class="col-md-6 noscrollbars">
      <div id="basic-stack"></div>
    </div>

    <!-- right panel: book details -->
    <div class="col-md-4 noscrollbars">
      <div id="previewPanel" class="previewPanel hidden">
        <h3 id="previewTitle"></h3>
        <h4 id="previewAuthor"></h4>
        <div>
          <span id="previewImprint"></span>
        </div>
        <div><p>&nbsp;</p></div>
        <div>
          <a id="previewLinkImage" href="" target="_blank">
            <%= image_tag("sampleCover.png", {id: "previewImage", style: "border: 1px solid; width: 116px; height: 173px;"})%>
          </a>
        </div>
        <div><p>&nbsp;</p></div>
        <div>
          <a id="previewLink" href="" target="_blank"
          title="View full information about this item including availability and how to check it out.">View the full record</a>
        </div>
      </div>
    </div>

    <span id="initialID" class="hidden"><%= id %></span>
    <!-- we use these to reset the values via JavaScript -->
    <%= image_tag("sampleCover.png", {id: "previewImageNone", class: "hidden"})%>
    <%= image_tag("placeholder.gif", {id: "previewImageLoading", class: "hidden"})%>
  </div>

  <script>
    var josiahRootUrl = '<%= root_url %>';
  </script>
</body>
