<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= javascript_include_tag 'browse_index', 'data-turbolinks-track' => true %>

<style>
  .stackview .ribbon {
    position: absolute;
    visibility:hidden;
  }
</style>

<div id="basic-stack"></div>

<span id="initialID" class="hidden"><%= id %></span>

<script>
  var josiahRootUrl = '<%= root_url %>';
</script>
