<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<head>
  <title>Browse the Stacks</title>
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag 'browse_index', 'data-turbolinks-track' => true %>

  <style>
    .stackview .ribbon {
      position: absolute;
      visibility:hidden;
    }
    .stackview {
      overflow: hidden;
    }
    .active-item {
      margin-left: 20px;
    }

    .previewPanel {
      margin: 24px 0px 20px;
      padding: 5px 5px 5px;
      border: 5px;
      border-color: blue;
    }
  </style>
</head>

<body>
  <div class="row" style="overflow: hidden;">
    <div class="col-md-2" style="overflow: hidden;">
      <img src="https://www.brown.edu/sites/default/themes/pawtuxet/img/brown-logo.png"/>
      <h2>StackLife</h2>
    </div>
    <div class="col-md-6" style="overflow: hidden;">
      <div id="basic-stack" style="overflow: hidden;"></div>
    </div>
    <div class="col-md-4" style="overflow: hidden;">
      <div id="previewPanel" class="previewPanel hidden">
        <h3 id="previewTitle"></h3>
        <h4 id="previewAuthor"></h4>
        <div>
          <span id="previewPubDate"></span>
          <span id="previewFormat"></span>
        </div>
        <div><p>&nbsp;</p></div>
        <div>
          <a id="previewLinkImage" href="" target="_blank">
            <%= image_tag("sampleCover.png", {id: "previewImage", style: "border: 1px solid; width: 116px; height: 173px;"})%>
          </a>
        </div>
        <div><p>&nbsp;</p></div>
        <div><a id="previewLink" href="" target="_blank">View on the Catalog</a></div>
      </div>
    </div>

    <span id="initialID" class="hidden"><%= id %></span>
    <!-- we use these to reset the values via JavaScript -->
    <%= image_tag("sampleCover.png", {id: "previewImageNone", class: "hidden"})%>
    <%= image_tag("placeholder.gif", {id: "previewImageLoading", class: "hidden"})%>
  </div>

  <script>
    var josiahRootUrl = '<%= root_url %>';
  </script>
</body>
