<div class="navbar-right">
  <ul class="nav navbar-nav">
    <% if @easy_search != true %>
      <li><%= link_to t('blacklight.bento.label'), easy_search_link %></li>
    <% end %>
    <li>
      <%= link_to t('blacklight.feedback.label'), t('blacklight.feedback.link') %>
    </li>
    <% if render_bookmarks_control? %>
    <li>
      <%= link_to t('blacklight.header_links.bookmarks'), bookmarks_path %>
    </li>
    <% end %>
    <% if has_user_authentication_provider? and current_user %>
      <li>
      <%= link_to t('blacklight.header_links.saved_searches'), saved_searches_path %>
      </li>
    <% end %>
    <li>
    <%= link_to t('blacklight.header_links.search_history'), search_history_path %>
    </li>
    <li>
      <a href="http://library.brown.edu/libweb/askalib.php">Help</a>
    </li>
    <li>
      <%= link_to t('blacklight.header_links.account'), "https://josiah.brown.edu/patroninfo" %>
    </li>
    <% if @easy_search != true && @libweb_search != true %>
        <% if controller_name == 'bdr' %>
          <li><%= link_to 'Advanced Search', bdr_advanced_search_path(params), :class=>'advanced_search'%></li>
        <% elsif controller_name != 'advanced' %>
          <li><%= link_to 'Advanced Search', advanced_search_path(params), :class=>'advanced_search'%></li>
        <% end %>
      <% end %>
  </ul>
</div>