<div class="navbar-right">
  <ul class="nav navbar-nav">
    <% if @easy_search != true %>
      <li><%= link_to t('blacklight.bento.label'), easy_search_link %></li>
    <% end %>
    <li>
      <%= link_to "Catalog", catalog_index_path %>
    </li>
    <li>
      <%= link_to "Reserves", reserves_search_path, title: 'In-Library Reserves', rel: 'tooltip' %>
    </li>
    <li>
      <%= link_to t('blacklight.feedback.label'), google_form_url(), title: 'Report an error, make suggestions, or let us know what you think ', rel: 'tooltip', target: "_blank"  %>
    </li>
    <% if render_bookmarks_control? %>
    <li>
      <%= link_to t('blacklight.header_links.bookmarks'), bookmarks_path %>
    </li>
    <% end %>
    <% if has_user_authentication_provider? and current_user %>
      <li>
      <%= link_to t('blacklight.header_links.saved_searches'), saved_searches_path %>
      </li>
    <% end %>
    <li>
    <%= link_to t('blacklight.header_links.search_history'), search_history_path %>
    </li>
    <li>
      <%= link_to t('blacklight.header_links.josiah'), "http://josiah.brown.edu/", target: "_blank" %>
    </li>
    <li>
      <a href="http://library.brown.edu/libweb/askalib.php">Help</a>
    </li>

    <style>
      .navbar-inverse .navbar-nav > .open > a,
      .navbar-inverse .navbar-nav > .open > a:hover,
      .navbar-inverse .navbar-nav > .open > a:focus {
        background-color: #dec280;
      }
      .dropdown-menu > li > a {
        padding: 15px 20px;
      }
    </style>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Advanced Search <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="<%= advanced_search_path(params) %>">Library Catalog</a></li>
        <li><a href="<%= Eds.native_advanced_url(@query || '', @trusted_ip || false) %>" target="_blank">Journal Articles</a></li>
      </ul>
    </li>
  </ul>

</div>
