{{! comment: called by `app/assets/javascripts/catalog_record_availability.js - addStatus()` }}

<div class="holdings-wrapper" {{#if results}}class="results"{{/if}}>
  {{#unless results}}
    {{#if summary}}
      <h4>Summary</h4>
      {{#each summary}}
      <div class="summary-holdings">
        {{#each this}}
          <span>{{this.label}}:&nbsp;</span>
          <span>{{this.value}}</span>
          </br>
        {{/each}}
      </div>
      {{/each}}
    {{/if}}
    {{#if items}}
      <h4>
        Availability
        {{#if request_link }}<a class="btn request-this-link" href="{{ request_link }}" target="_blank">Request this</a>{{/if}}
      </h4>
    {{else}}
      {{#if online_resource}}
        {{! nothing to render }}
      {{ else }}
        <h4>
          Availability
        </h4>
        <div>
          We don't currently have availability information for this item.
          <a href="http://library.brown.edu/libweb/askalib.php" target="_blank">
            Contact the library staff<a/>
          for assistance with this item.
        </div>
      {{/if}}
    {{/if}}
  {{/unless}}
  {{#if items}}
  <table class="table">
    <tr>
      <th>Location</th>
      <th>Call number</th>
      <th>Status</th>
    </tr>
    <tbody>
      {{#each items}}
        <tr>
          <td id="{{item_id}}">
            <span class="location">{{ location }}</span>
            {{#if shelf}} -- <a href="{{ map }}" class="stack-map-link">Level {{ shelf.floor }}, Aisle {{ shelf.aisle }}</a>{{/if}}
            {{#if bookplate_url}}
              <div>
                <a href="{{ bookplate_url }}" target="_blank">{{ bookplate_display }}</a>
              </div>
            {{/if}}
          </td>
          <td>{{ callnumber }}</td>
          <!-- triple-stash for annexhay_easyrequest_url to prevent double encoding since Rails already encoded the value -->
          <td>{{ status }}
            {{#if scan}} <a href="{{scan}}" title="Request a scan of a section of this item." class="scan">scan</a> |
              {{#if item_request_url }} <a href="{{item_request_url}}">item</a> {{else}} <span style="color:gray" title="Due to the COVID-19, item request is currently not available.">item</span> {{/if}}
            {{/if}}
            {{#if jcb_url}} <a href="{{jcb_url}}" class="scan">request-access</a> {{/if}}
            {{#if annexhay_easyrequest_url}} <a href="{{{annexhay_easyrequest_url}}}" class="scan">request-access</a>{{/if}}
            {{#if hay_aeon_url}} <a href="{{{hay_aeon_url}}}" class="scan">request-access</a>{{/if}}
          </td>
        </tr>
      {{/each}}
      {{#if ezbBIB}}
        <tr>
          <td></td>
          <td></td>
          <td>Available via easyBorrow <a href="{{ bibURL }}">view details</a></td>
        </tr>
      {{/if}}
    </tbody>
  </table>
  {{/if}}

  {{#if has_more }}
    <div class="more-results pull-right">
        <a href="{{ more_link }}" class="label label-info">more</a>
    </div>
  {{/if}}
</div>
